<div class="bp1-index">

  <div class="bp1-left">
    <div class="bp1-left1-layout-container">
      <div class="bp1-left1">
        <div class="bp1-rectangle shadow-lg p-3 mb-5 ">
        </div>
        <div class="bp1-oqvamoscriarhj">
          <div class="bp1-rectangle1">
          </div>
          <div class="bp1-oquevamos">
            O que vamos
          </div>
          <div class="bp1-criarhoje">
            criar hoje?
          </div>
        </div>
        <div class="bp1-criadoresdescription">
          <img alt="Image" src="./../../../assets/img/index-shadow-copy.png" class="bp1-shadowcopy" />
          <div class="bp1-rectanglecopy">
          </div>
          <div class="bp1-loremipsumdolorsi">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
            dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy
            nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          </div>
        </div>
        <div class="bp1-label1">
          ?
        </div>
        <div class="bp1-pesquisar">
          <div class="bp1-pesquisar1">
            <div class="bp1-backgroundcopy2">
              <img alt="Image" src="./../../../assets/img/index-shadow@2x.png" class="bp1-shadow" />
              <div class="bp1-rectangle1">
              </div>
              <div class="bp1-search">
                <img alt="Image" src="./../../../assets/img/index-shape@2x.png" class="bp1-shape" />
                <img alt="Image" src="./../../../assets/img/index-path@2x.png" class="bp1-path" />
                <img alt="Image" src="./../../../assets/img/index-path-1@2x.png" class="bp1-path1" />
              </div>
            </div>
            <div class="bp1-dropdownlist">
              <input class="bp1-textpesquiseaqui" name="textPesquiseAqui" placeholder="vou criar" type="text" />
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="bp2-homemobile">
  <div class="bp1-left">
    <div class="bp1-left1-layout-container">
      <div class="bp1-left1">
        <div class="bp1-rectangle shadow-lg p-3 mb-5 ">
        </div>
        <div class="bp1-oqvamoscriarhj">
          <div class="bp1-rectangle1">
          </div>
          <div class="bp1-oquevamos">
            O que vamos
          </div>
          <div class="bp1-criarhoje">
            criar hoje?
          </div>
        </div>
        <div class="bp1-criadoresdescription">
          <img alt="Image" src="./../../../assets/img/index-shadow-copy.png" class="bp1-shadowcopy" />
          <div class="bp1-rectanglecopy">
          </div>
          <div class="bp1-loremipsumdolorsi">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
            dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy
            nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          </div>
        </div>
        <div class="bp1-label1">
          ?
        </div>
        <div class="bp1-pesquisar">
          <div class="bp1-pesquisar1">
            <div class="bp1-backgroundcopy2">
              <img alt="Image" src="./../../../assets/img/index-shadow@2x.png" class="bp1-shadow" />
              <div class="bp1-rectangle1">
              </div>
              <div class="bp1-search">
                <img alt="Image" src="./../../../assets/img/index-shape@2x.png" class="bp1-shape" />
                <img alt="Image" src="./../../../assets/img/index-path@2x.png" class="bp1-path" />
                <img alt="Image" src="./../../../assets/img/index-path-1@2x.png" class="bp1-path1" />
              </div>
            </div>
            <div class="bp1-dropdownlist">
              <input class="bp1-textpesquiseaqui" name="textPesquiseAqui" placeholder="vou criar" type="text" />
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="bp3-hometablet">

  <div class="bp1-left">
    <div class="bp1-left1-layout-container">
      <div class="bp1-left1">
        <div class="bp1-rectangle shadow-lg p-3 mb-5 ">
        </div>
        <div class="bp1-oqvamoscriarhj">
          <div class="bp1-rectangle1">
          </div>
          <div class="bp1-oquevamos">
            O que vamos
          </div>
          <div class="bp1-criarhoje">
            criar hoje?
          </div>
        </div>
        <div class="bp1-criadoresdescription">
          <img alt="Image" src="./../../../assets/img/index-shadow-copy.png" class="bp1-shadowcopy" />
          <div class="bp1-rectanglecopy">
          </div>
          <div class="bp1-loremipsumdolorsi">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
            dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy
            nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          </div>
        </div>
        <div class="bp1-label1">
          ?
        </div>
        <div class="bp1-pesquisar">
          <div class="bp1-pesquisar1">
            <div class="bp1-backgroundcopy2">
              <img alt="Image" src="./../../../assets/img/index-shadow@2x.png" class="bp1-shadow" />
              <div class="bp1-rectangle1">
              </div>
              <div class="bp1-search">
                <img alt="Image" src="./../../../assets/img/index-shape@2x.png" class="bp1-shape" />
                <img alt="Image" src="./../../../assets/img/index-path@2x.png" class="bp1-path" />
                <img alt="Image" src="./../../../assets/img/index-path-1@2x.png" class="bp1-path1" />
              </div>
            </div>
            <div class="bp1-dropdownlist">
              <input class="bp1-textpesquiseaqui" name="textPesquiseAqui" placeholder="vou criar" type="text" />
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="bp4-homelq">

  <div class="bp1-left">
    <div class="bp1-left1-layout-container">
      <div class="bp1-left1">
        <div class="bp1-rectangle shadow-lg p-3 mb-5 ">
        </div>
        <div class="bp1-oqvamoscriarhj">
          <div class="bp1-rectangle1">
          </div>
          <div class="bp1-oquevamos">
            O que vamos
          </div>
          <div class="bp1-criarhoje">
            criar hoje?
          </div>
        </div>
        <div class="bp1-criadoresdescription">
          <img alt="Image" src="./../../../assets/img/index-shadow-copy.png" class="bp1-shadowcopy" />
          <div class="bp1-rectanglecopy">
          </div>
          <div class="bp1-loremipsumdolorsi">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
            dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy
            nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          </div>
        </div>
        <div class="bp1-label1">
          ?
        </div>
        <div class="bp1-pesquisar">
          <div class="bp1-pesquisar1">
            <div class="bp1-backgroundcopy2">
              <img alt="Image" src="./../../../assets/img/index-shadow@2x.png" class="bp1-shadow" />
              <div class="bp1-rectangle1">
              </div>
              <div class="bp1-search">
                <img alt="Image" src="./../../../assets/img/index-shape@2x.png" class="bp1-shape" />
                <img alt="Image" src="./../../../assets/img/index-path@2x.png" class="bp1-path" />
                <img alt="Image" src="./../../../assets/img/index-path-1@2x.png" class="bp1-path1" />
              </div>
            </div>
            <div class="bp1-dropdownlist">
              <input class="bp1-textpesquiseaqui" name="textPesquiseAqui" placeholder="vou criar" type="text" />
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
