<!-- <div class="d-flex flex-row bd-highlight">
  <img src="../../../assets/svg/Bitmap.svg" class="col align-items-center d-flex p-3 mb-2 logoToki  ">
</div> -->

<div class="bp1-index">


  <div class="bp1-tokilogo1">
    <img alt="Image" src="assets/img/programa-bitmap-1@2x.png" class="bp1-bitmap" />


  </div>

</div>


<div class="bp2-homemobile">

  <div class="bp2-tokilogo1 ">
    <img alt="Image" src="assets/img/programa-bitmap-1@2x.png" class="bp2-bitmap" />
  </div>

</div>


<div class="bp3-hometablet">

  <div class="bp3-tokilogo1 ">
    <img alt="Image" src="assets/img/programa-bitmap-1@2x.png" class="bp3-bitmap" />
  </div>


</div>


<div class="bp4-homelq">

  <div class="bp4-tokilogo1 ">
    <img alt="Image" src="assets/img/programa-bitmap-1@2x.png" class="bp4-bitmap" />
  </div>



</div>
