<!-- <div class="d-flex flex-row bd-highlight">
  <img src="../../../assets/svg/Bitmap.svg" class="col align-items-center d-flex p-3 mb-2 logoToki  ">
</div> -->

<div class="bp1-index">

  <div class="bp1-panel-layout-container">
    <div class="bp1-panel">
      <img alt="Image" src="assets/img/index-panel-2.png" class="bp1-panel2 anima-hidden " />
      <div class="bp1-tokibutton">
        <div class="bp1-tokilogo anima-smart-layers-pointers ">
          <div class="bp1-tokilogo1 anima-smart-layers-pointers ">
            <img alt="Image" src="assets/img/programa-bitmap-1@2x.png" class="bp1-bitmap" />
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="bp2-homemobile">

  <div class="bp2-panel-layout-container">
    <div class="bp2-panel">
      <img alt="Image" src="assets/img/homemobile-panel-2.png" class="bp2-panel2 anima-hidden " />
      <div class="bp2-tokibutton">
        <div class="bp2-tokilogo anima-smart-layers-pointers ">
          <div class="bp2-tokilogo1 anima-smart-layers-pointers ">
            <img alt="Image" src="assets/img/programa-bitmap-1@2x.png" class="bp2-bitmap" />
          </div>
        </div>
      </div>
    </div>
  </div>


</div>


<div class="bp3-hometablet">

  <div class="bp3-panel-layout-container">
    <div class="bp3-panel">
      <img alt="Image" src="assets/img/hometablet-panel-2.png" class="bp3-panel2 anima-hidden " />
      <div class="bp3-tokibutton">
        <div class="bp3-tokilogo anima-smart-layers-pointers ">
          <div class="bp3-tokilogo1 anima-smart-layers-pointers ">
            <img alt="Image" src="assets/img/programa-bitmap-1@2x.png" class="bp3-bitmap" />
          </div>
        </div>
      </div>
    </div>
  </div>


</div>


<div class="bp4-homelq">

  <div class="bp4-panel-layout-container">
    <div class="bp4-panel">
      <img alt="Image" src="assets/img/homelq-panel-2@2x.png" class="bp4-panel2 anima-hidden " />
      <div class="bp4-tokibutton">
        <div class="bp4-tokilogo anima-smart-layers-pointers ">
          <div class="bp4-tokilogo1 anima-smart-layers-pointers ">
            <img alt="Image" src="assets/img/programa-bitmap-1@2x.png" class="bp4-bitmap" />
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
