@media screen and (max-width: 767px) {
  .bp2-homemobile {
    display: block;
  }

  .bp3-hometablet {
    display: none;
  }

  .bp4-homelq {
    display: none;
  }

  .bp1-index {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .bp2-homemobile {
    display: none;
  }

  .bp3-hometablet {
    display: block;
  }

  .bp4-homelq {
    display: none;
  }

  .bp1-index {
    display: none;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .bp2-homemobile {
    display: none;
  }

  .bp3-hometablet {
    display: none;
  }

  .bp4-homelq {
    display: block;
  }

  .bp1-index {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .bp2-homemobile {
    display: none;
  }

  .bp3-hometablet {
    display: none;
  }

  .bp4-homelq {
    display: none;
  }

  .bp1-index {
    display: block;
  }
}


.bp1-index {
  bottom: 20px;
  width: 100%;
  min-width: 1440px;
  height: 10vh;
  min-height: 100px;
  position: absolute;
  overflow: hidden;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 255, 255, 0);
  opacity: 1.0;
}

.bp2-homemobile {
  bottom: -650px;
  width: 100%;
  min-width: 556px;
  height: 10vh;
  min-height: 100px;
  position: absolute;
  overflow: hidden;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 255, 255, 0);
  opacity: 1.0;
}


.bp3-hometablet {
  bottom: -700px;
  width: 100%;
  min-width: 768px;
  height: 10vh;
  min-height: 100px;
  position: absolute;
  overflow: hidden;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 255, 255, 0);
  opacity: 1.0;
}

.bp4-homelq {
  bottom: 20px;
  width: 100%;
  min-width: 1024px;
  height: 10vh;
  min-height: 100px;
  position: absolute;
  overflow: hidden;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 255, 255, 0);
  opacity: 1.0;
}


/* bp1 */

.bp1-index .bp1-tokilogo1 {
  background-color: rgba(255, 255, 255, 0.0);
  bottom: 20px;
  height: 80px;
  width: 100%;
  position: absolute;
  margin: 0;
  display: flex;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.bp1-index .bp1-tokilogo1 {
  pointer-events: auto;
}

.bp1-index .bp1-tokilogo1:hover {
  transform: translate(0, -5px);
}

.bp1-index .bp1-tokilogo1 .bp1-bitmap {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 86px;
  width: 196px;
  position: absolute;
  margin: 0;
  transform: rotate(0deg);
  opacity: 1.0;
}



/* bp2 */

.bp2-homemobile .bp2-tokilogo1 {
  background-color: rgba(255, 255, 255, 0.0);
  bottom: 20px;
  height: 80px;
  width: 100%;
  position: absolute;
  margin: 0;
  display: flex;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.bp2-homemobile .bp2-tokilogo1 {
  pointer-events: auto;
}

.bp2-homemobile .bp2-tokilogo1:hover {
  transform: translate(0, -5px);
}

.bp2-homemobile .bp2-tokilogo1 .bp2-bitmap {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 86px;
  width: 196px;
  margin: 0;
  transform: rotate(0deg);
  opacity: 1.0;
}

/* bp3 */


.bp3-hometablet .bp3-tokilogo1 {
  background-color: rgba(255, 255, 255, 0.0);
  bottom: 20px;
  height: 80px;
  width: 100%;
  position: absolute;
  margin: 0;
  display: flex;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.bp3-hometablet .bp3-tokilogo1 {
  pointer-events: auto;
}

.bp3-hometablet .bp3-tokilogo1:hover {
  transform: translate(0, -5px);
}

.bp3-hometablet .bp3-tokilogo1 .bp3-bitmap {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 86px;
  width: 196px;
  margin: 0;
  transform: rotate(0deg);
  opacity: 1.0;
}

/* bp4 */

.bp4-homelq .bp4-tokilogo1 {
  background-color: rgba(255, 255, 255, 0.0);
  bottom: 20px;
  height: 80px;
  width: 100%;
  position: absolute;
  margin: 0;
  display: flex;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.bp4-homelq .bp4-tokilogo1 {
  pointer-events: auto;
}

.bp4-homelq .bp4-tokilogo1:hover {
  transform: translate(0, -5px);
}

.bp4-homelq .bp4-tokilogo1 .bp4-bitmap {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 86px;
  width: 196px;
  position: absolute;
  margin: 0;
  transform: rotate(0deg);
  opacity: 1.0;
}
