.admin {
  position: absolute;
  width: auto;
  height: auto;
  top: 25%;
  right: 2%;
  border: solid 1px mediumslateblue;
  border-radius: 35px;
  background-color: mediumslateblue;

}

.map {
  position: relative;
  top: 120px;
  width: 100%;
  height: auto;
  justify-content: center;
  align-content: center;
  border: 4px solid #121a5e;
  object-fit: cover;
}
