@media screen and (max-width: 767px) {
  .bp4-sobremobile {
    display: block;
  }

  .bp3-sobretablet {
    display: none;
  }

  .bp2-sobrelq {
    display: none;
  }

  .bp1-sobre {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .bp4-sobremobile {
    display: none;
  }

  .bp3-sobretablet {
    display: block;
  }

  .bp2-sobrelq {
    display: none;
  }

  .bp1-sobre {
    display: none;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .bp4-sobremobile {
    display: none;
  }

  .bp3-sobretablet {
    display: none;
  }

  .bp2-sobrelq {
    display: block;
  }

  .bp1-sobre {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .bp4-sobremobile {
    display: none;
  }

  .bp3-sobretablet {
    display: none;
  }

  .bp2-sobrelq {
    display: none;
  }

  .bp1-sobre {
    display: block;
  }
}


.bp1-sobre {
  width: 100%;
  min-width: 1440px;
  height: 100vh;
  min-height: 856px;
  position: absolute;
  overflow: hidden;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 255, 255, 0);
  opacity: 1.0;
}


.bp2-sobrelq {
  width: 100%;
  min-width: 1024px;
  height: 100vh;
  min-height: 808px;
  position: absolute;
  overflow: hidden;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 255, 255, 0);
  opacity: 1.0;
}

.bp3-sobretablet {
  width: 100%;
  min-width: 768px;
  height: 100vh;
  min-height: 1024px;
  position: absolute;
  overflow: hidden;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 255, 255, 0);
  opacity: 1.0;
}

.bp4-sobremobile {
  width: 100%;
  min-width: 556px;
  height: 100vh;
  min-height: 963px;
  position: absolute;
  overflow: hidden;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 255, 255, 0);
  opacity: 1.0;
}


/* bp1 */

.bp1-sobre .bp1-backgroundsobre {
  background-color: rgba(255, 255, 255, 0.0);
  bottom: -1px;
  height: 857px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-sobre .bp1-backgroundsobre .bp1-asset10 {
  background-color: rgba(255, 255, 255, 0.0);
  bottom: 0px;
  height: 856px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-sobre .bp1-backgroundsobre .bp1-asset10 .bp1-rectangle {
  background-color: rgba(255, 255, 255, 0.0);
  bottom: 0px;
  height: 856px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-sobre .bp1-backgroundsobre .bp1-asset9 {
  background-color: rgba(255, 255, 255, 0.0);
  bottom: 1px;
  height: 855px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-sobre .bp1-backgroundsobre .bp1-asset9 .bp1-group {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 855px;
  width: 100%;
  position: relative;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 0.43;
}

.bp1-sobre .bp1-backgroundsobre .bp1-asset9 .bp1-group .bp1-path {
  background-color: rgba(255, 255, 255, 0.0);
  top: 1px;
  height: 265px;
  width: calc(99.99% - 427px);
  position: absolute;
  margin: 0;
  left: 427px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-sobre .bp1-backgroundsobre .bp1-asset9 .bp1-group .bp1-path1 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 266px;
  height: 588px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-sobre .bp1-backgroundsobre .bp1-asset8 {
  background-color: rgba(255, 255, 255, 0.0);
  bottom: 62px;
  height: 795px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 0.37;
}

.bp1-sobre .bp1-backgroundsobre .bp1-asset8 .bp1-bitmap {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 795px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 0.15;
}

.bp1-sobre .bp1-backgroundsobre .bp1-asset8 .bp1-rectangle {
  background-color: rgba(255, 255, 255, 0.0);
  top: 17px;
  height: 747px;
  width: calc(100.00% - 57px);
  position: absolute;
  margin: 0;
  left: 20px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-sobre .bp1-backgroundsobre .bp1-asset7 {
  background-color: rgba(255, 255, 255, 0.0);
  bottom: 94px;
  height: 390px;
  width: calc(100.00% - 66px);
  position: absolute;
  margin: 0;
  left: 21px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-sobre .bp1-backgroundsobre .bp1-asset7 .bp1-path {
  background-color: rgba(255, 255, 255, 0.0);
  bottom: 0px;
  height: 390px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-sobre .bp1-wave {
  background-color: rgba(255, 255, 255, 0.0);
  top: -574px;
  height: calc(100.00% + 603px);
  width: calc(100.00% + 128px);
  position: absolute;
  margin: 0;
  left: -123px;
  transform: rotate(0deg);
  opacity: 0.91;
}

.bp1-sobre .bp1-wavecopy {
  background-color: rgba(255, 255, 255, 0.0);
  top: -212px;
  height: calc(100.00% - 391px);
  width: calc(100.00% - 339px);
  position: absolute;
  margin: 0;
  left: 467px;
  transform: rotate(0deg);
  opacity: 0.3;
}

/* bp2 */


.bp2-sobrelq .bp2-backgroundsobre {
  background-color: rgba(255, 255, 255, 0.0);
  bottom: -1px;
  height: 865px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp2-sobrelq .bp2-backgroundsobre .bp2-asset10 {
  background-color: rgba(255, 255, 255, 0.0);
  bottom: 0px;
  height: 856px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp2-sobrelq .bp2-backgroundsobre .bp2-asset10 .bp2-rectangle {
  background-color: rgba(255, 255, 255, 0.0);
  bottom: 0px;
  height: 856px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp2-sobrelq .bp2-backgroundsobre .bp2-asset9 {
  background-color: rgba(255, 255, 255, 0.0);
  bottom: 2px;
  height: 863px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp2-sobrelq .bp2-backgroundsobre .bp2-asset9 .bp2-group {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 863px;
  width: 100%;
  position: relative;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 0.43;
}

.bp2-sobrelq .bp2-backgroundsobre .bp2-asset9 .bp2-group .bp2-path {
  background-color: rgba(255, 255, 255, 0.0);
  top: -150px;
  height: 284px;
  width: calc(100.00% - 384px);
  position: absolute;
  margin: 0;
  left: 584px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp2-sobrelq .bp2-backgroundsobre .bp2-asset9 .bp2-group .bp2-path1 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 275px;
  height: 588px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp2-sobrelq .bp2-backgroundsobre .bp2-asset8 {
  background-color: rgba(255, 255, 255, 0.0);
  bottom: 62px;
  height: 795px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 0.37;
}

.bp2-sobrelq .bp2-backgroundsobre .bp2-asset8 .bp2-bitmap {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 795px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 0.15;
}

.bp2-sobrelq .bp2-backgroundsobre .bp2-asset8 .bp2-rectangle {
  background-color: rgba(255, 255, 255, 0.0);
  top: 17px;
  height: 747px;
  width: calc(100.00% - 57px);
  position: absolute;
  margin: 0;
  left: 20px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp2-sobrelq .bp2-backgroundsobre .bp2-asset7 {
  background-color: rgba(255, 255, 255, 0.0);
  bottom: 94px;
  height: 280px;
  width: calc(100.00% - 40px);
  position: absolute;
  margin: 0;
  left: 20px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp2-sobrelq .bp2-backgroundsobre .bp2-asset7 .bp2-path {
  background-color: rgba(255, 255, 255, 0.0);
  bottom: 0px;
  height: 280px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp2-sobrelq .bp2-wave {
  background-color: rgba(255, 255, 255, 0.0);
  top: -574px;
  height: calc(100.00% + 603px);
  width: calc(100.00% + 128px);
  position: absolute;
  margin: 0;
  left: -123px;
  transform: rotate(0deg);
  opacity: 0.91;
}

.bp2-sobrelq .bp2-wavecopy {
  background-color: rgba(255, 255, 255, 0.0);
  top: -150px;
  height: calc(100.00% - 435px);
  width: calc(100.00% - 310px);
  position: absolute;
  margin: 0;
  left: 520px;
  transform: rotate(0deg);
  opacity: 0.3;
}

/* bp3 */

.bp3-sobretablet .bp3-backgroundsobre {
  background-color: rgba(255, 255, 255, 0.0);
  bottom: -1px;
  height: 1025px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp3-sobretablet .bp3-backgroundsobre .bp3-asset10 {
  background-color: rgba(255, 255, 255, 0.0);
  bottom: 0px;
  height: 1014px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp3-sobretablet .bp3-backgroundsobre .bp3-asset10 .bp3-rectangle {
  background-color: rgba(255, 255, 255, 0.0);
  bottom: 0px;
  height: 1014px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp3-sobretablet .bp3-backgroundsobre .bp3-asset9 {
  background-color: rgba(255, 255, 255, 0.0);
  bottom: 2px;
  height: 1023px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp3-sobretablet .bp3-backgroundsobre .bp3-asset9 .bp3-group {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 1023px;
  width: 100%;
  position: relative;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 0.43;
}

.bp3-sobretablet .bp3-backgroundsobre .bp3-asset9 .bp3-group .bp3-path {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 337px;
  width: calc(100.00% - 384px);
  position: absolute;
  margin: 0;
  left: 384px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp3-sobretablet .bp3-backgroundsobre .bp3-asset9 .bp3-group .bp3-path1 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 326px;
  height: 697px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp3-sobretablet .bp3-backgroundsobre .bp3-asset8 {
  background-color: rgba(255, 255, 255, 0.0);
  bottom: 62px;
  height: 942px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 0.37;
}

.bp3-sobretablet .bp3-backgroundsobre .bp3-asset8 .bp3-bitmap {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 942px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 0.15;
}

.bp3-sobretablet .bp3-backgroundsobre .bp3-asset8 .bp3-rectangle {
  background-color: rgba(255, 255, 255, 0.0);
  top: 20px;
  height: 885px;
  width: calc(100.00% - 57px);
  position: absolute;
  margin: 0;
  left: 20px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp3-sobretablet .bp3-backgroundsobre .bp3-asset7 {
  background-color: rgba(255, 255, 255, 0.0);
  bottom: 94px;
  height: 332px;
  width: calc(100.00% - 40px);
  position: absolute;
  margin: 0;
  left: 20px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp3-sobretablet .bp3-backgroundsobre .bp3-asset7 .bp3-path {
  background-color: rgba(255, 255, 255, 0.0);
  bottom: 0px;
  height: 332px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp3-sobretablet .bp3-wave {
  background-color: rgba(255, 255, 255, 0.0);
  top: -100px;
  height: calc(100.00% + 110px);
  width: calc(100.00% + 125px);
  position: absolute;
  margin: 0;
  left: -120px;
  transform: rotate(0deg);
  opacity: 0.91;
}

.bp3-sobretablet .bp3-wavecopy {
  background-color: rgba(255, 255, 255, 0.0);
  top: -150px;
  height: calc(100.00% - 410px);
  width: calc(100.00% - 310px);
  position: absolute;
  margin: 0;
  left: 420px;
  transform: rotate(0deg);
  opacity: 0.3;
}

/* bp4 */

.bp4-sobremobile .bp4-backgroundsobre {
  background-color: rgba(255, 255, 255, 0.0);
  bottom: -1px;
  height: 964px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp4-sobremobile .bp4-backgroundsobre .bp4-asset10 {
  background-color: rgba(255, 255, 255, 0.0);
  bottom: 0px;
  height: 954px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp4-sobremobile .bp4-backgroundsobre .bp4-asset10 .bp4-rectangle {
  background-color: rgba(255, 255, 255, 0.0);
  bottom: 0px;
  height: 954px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp4-sobremobile .bp4-backgroundsobre .bp4-asset9 {
  background-color: rgba(255, 255, 255, 0.0);
  bottom: 2px;
  height: 962px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp4-sobremobile .bp4-backgroundsobre .bp4-asset9 .bp4-group {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 962px;
  width: 100%;
  position: relative;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 0.43;
}

.bp4-sobremobile .bp4-backgroundsobre .bp4-asset9 .bp4-group .bp4-path {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 317px;
  width: calc(100.00% - 216px);
  position: absolute;
  margin: 0;
  left: 216px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp4-sobremobile .bp4-backgroundsobre .bp4-asset9 .bp4-group .bp4-path1 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 307px;
  height: 655px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp4-sobremobile .bp4-backgroundsobre .bp4-asset8 {
  background-color: rgba(255, 255, 255, 0.0);
  bottom: 62px;
  height: 886px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 0.37;
}

.bp4-sobremobile .bp4-backgroundsobre .bp4-asset8 .bp4-bitmap {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 886px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 0.15;
}

.bp4-sobremobile .bp4-backgroundsobre .bp4-asset8 .bp4-rectangle {
  background-color: rgba(255, 255, 255, 0.0);
  top: 19px;
  height: 833px;
  width: calc(100.00% - 57px);
  position: absolute;
  margin: 0;
  left: 20px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp4-sobremobile .bp4-backgroundsobre .bp4-asset7 {
  background-color: rgba(255, 255, 255, 0.0);
  bottom: 114px;
  height: 292px;
  width: calc(100.00% - 40px);
  position: absolute;
  margin: 0;
  left: 20px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp4-sobremobile .bp4-backgroundsobre .bp4-asset7 .bp4-path {
  background-color: rgba(255, 255, 255, 0.0);
  bottom: 0px;
  height: 292px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp4-sobremobile .bp4-wave {
  background-color: rgba(255, 255, 255, 0.0);
  top: -100px;
  height: calc(100.00% + 130px);
  width: calc(100.00% + 240px);
  position: absolute;
  margin: 0;
  left: -120px;
  transform: rotate(0deg);
  opacity: 0.91;
}

.bp4-sobremobile .bp4-wavecopy {
  background-color: rgba(255, 255, 255, 0.0);
  top: -150px;
  height: calc(100.00% - 410px);
  width: calc(100.00% - 110px);
  position: absolute;
  margin: 0;
  left: 220px;
  transform: rotate(0deg);
  opacity: 0.3;
}
