<div class="implement-bg">

  <div class="bp1-backgroundsobre">
    <div class="bp1-asset10">
      <img alt="Image" src="./../../../../assets/img/sobre-rectangle.png" class="bp1-rectangle" />
    </div>
    <div class="bp1-asset9">
      <div class="bp1-group">
        <img alt="Image" src="./../../../../assets/img/cadastro-path.png" class="bp1-path" />
        <img alt="Image" src="./../../../../assets/img/cadastro-path-1.png" class="bp1-path1" />
      </div>
    </div>
    <div class="bp1-asset8">
      <img alt="Image" src="./../../../../assets/img/sobre-bitmap.png" class="bp1-bitmap" />
      <img alt="Image" src="./../../../../assets/img/sobre-rectangle-1.png" class="bp1-rectangle" />
    </div>
    <div class="bp1-asset7">
      <img alt="Image" src="./../../../../assets/img/sobre-path-2.png" class="bp1-path" />
    </div>
  </div>
  <img alt="Image" src="./../../../../assets/img/sobre-wave.png" class="bp1-wave" id="None" />
  <img alt="Image" src="./../../../../assets/img/index-wave-copy.png" class="bp1-wavecopy" />

</div>
