<div class="bp1-sobre">

  <div class="bp1-backgroundsobre">
    <div class="bp1-asset10">
      <img alt="Image" src="assets/img/sobre-rectangle.png" class="bp1-rectangle" />
    </div>
    <div class="bp1-asset9">
      <div class="bp1-group">
        <img alt="Image" src="assets/img/cadastro-path.png" class="bp1-path" />
        <img alt="Image" src="assets/img/cadastro-path-1.png" class="bp1-path1" />
      </div>
    </div>
    <div class="bp1-asset8">
      <img alt="Image" src="assets/img/sobre-bitmap.png" class="bp1-bitmap" />
      <img alt="Image" src="assets/img/sobre-rectangle-1.png" class="bp1-rectangle" />
    </div>
    <div class="bp1-asset7">
      <img alt="Image" src="assets/img/sobre-path-2.png" class="bp1-path" />
    </div>
  </div>
  <img alt="Image" src="assets/img/sobre-wave.png" class="bp1-wave" id="None" />
  <img alt="Image" src="assets/img/index-wave-copy.png" class="bp1-wavecopy" />

</div>

<div class="bp2-sobrelq">

  <div class="bp2-backgroundsobre">
    <div class="bp2-asset10">
      <img alt="Image" src="assets/img/sobrelq-rectangle.png" class="bp2-rectangle" />
    </div>
    <div class="bp2-asset9">
      <div class="bp2-group">
        <img alt="Image" src="assets/img/sobrelq-path.png" class="bp2-path" />
        <img alt="Image" src="assets/img/sobrelq-path-1.png" class="bp2-path1" />
      </div>
    </div>
    <div class="bp2-asset8">
      <img alt="Image" src="assets/img/sobrelq-bitmap.png" class="bp2-bitmap" />
      <img alt="Image" src="assets/img/sobrelq-rectangle-1.png" class="bp2-rectangle" />
    </div>
    <div class="bp2-asset7">
      <img alt="Image" src="assets/img/sobrelq-path-2.png" class="bp2-path" />
    </div>
  </div>
  <img alt="Image" src="assets/img/sobrelq-wave.png" class="bp2-wave" id="None" />
  <img alt="Image" src="assets/img/sobrelq-wave-copy.png" class="bp2-wavecopy" />

</div>

<div class="bp3-sobretablet">

  <div class="bp3-backgroundsobre">
    <div class="bp3-asset10">
      <img alt="Image" src="assets/img/sobretablet-rectangle.png" class="bp3-rectangle" />
    </div>
    <div class="bp3-asset9">
      <div class="bp3-group">
        <img alt="Image" src="assets/img/sobretablet-path.png" class="bp3-path" />
        <img alt="Image" src="assets/img/sobretablet-path-1.png" class="bp3-path1" />
      </div>
    </div>
    <div class="bp3-asset8">
      <img alt="Image" src="assets/img/sobretablet-bitmap.png" class="bp3-bitmap" />
      <img alt="Image" src="assets/img/sobretablet-rectangle-1.png" class="bp3-rectangle" />
    </div>
    <div class="bp3-asset7">
      <img alt="Image" src="assets/img/sobretablet-path-2.png" class="bp3-path" />
    </div>
  </div>
  <img alt="Image" src="assets/img/sobretablet-wave.png" class="bp3-wave" id="None" />
  <img alt="Image" src="assets/img/sobretablet-wave-copy.png" class="bp3-wavecopy" />

</div>

<div class="bp4-sobremobile">

  <div class="bp4-backgroundsobre">
    <div class="bp4-asset10">
      <img alt="Image" src="assets/img/sobremobile-rectangle.png" class="bp4-rectangle" />
    </div>
    <div class="bp4-asset9">
      <div class="bp4-group">
        <img alt="Image" src="assets/img/sobremobile-path.png" class="bp4-path" />
        <img alt="Image" src="assets/img/sobremobile-path-1.png" class="bp4-path1" />
      </div>
    </div>
    <div class="bp4-asset8">
      <img alt="Image" src="assets/img/sobremobile-bitmap.png" class="bp4-bitmap" />
      <img alt="Image" src="assets/img/sobremobile-rectangle-1.png" class="bp4-rectangle" />
    </div>
    <div class="bp4-asset7">
      <img alt="Image" src="assets/img/sobremobile-path-2.png" class="bp4-path" />
    </div>
  </div>
  <img alt="Image" src="assets/img/sobremobile-wave.png" class="bp4-wave" id="None" />
  <img alt="Image" src="assets/img/sobremobile-wave-copy.png" class="bp4-wavecopy" />

</div>
