<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Untitled</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="./assets/css/styles.min.css?h=120732167c319332a053cc7cffa3fb64">
</head>

<body>
  <!-- Start: Swiper Slider Card For Blog Or Product -->
  <div class="blog-slider">
    <div class="blog-slider__wrp swiper-wrapper">
      <!-- Start: 1st Slide -->
      <div class="blog-slider__item swiper-slide">
        <div></div>
        <div class="blog-slider__img"><img src="./assets/img/blog-1.jpg?h=344a4ac6239be4bc8b52dfa6e7070727"></div>
        <div class="blog-slider__content">
          <!-- Start: Date --><span class="blog-slider__code">26 December 2019</span>
          <!-- End: Date -->
          <!-- Start: Your Text -->
          <div class="blog-slider__title">Lorem Ipsum Dolor</div>
          <!-- End: Your Text -->
          <!-- Start: Your Text -->
          <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate
            repellendus magni illo ea animi? </div>
          <!-- End: Your Text --><a class="class=&quot;blog-slider__button" href="#">READ MORE</a>
        </div>
      </div>
      <!-- End: 1st Slide -->
      <!-- Start: 2nd Slide -->
      <div class="blog-slider__item swiper-slide">
        <div></div>
        <div class="blog-slider__img"><img src="assets/img/blog-2.jpg?h=f4adb50f614f4980d42244982cd02732"></div>
        <div class="blog-slider__content">
          <!-- Start: Date --><span class="blog-slider__code">26 December 2019</span>
          <!-- End: Date -->
          <!-- Start: Your Text -->
          <div class="blog-slider__title">Lorem Ipsum Dolor</div>
          <!-- End: Your Text -->
          <!-- Start: Your Text -->
          <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate
            repellendus magni illo ea animi? </div>
          <!-- End: Your Text --><a class="class=&quot;blog-slider__button" href="#">READ MORE</a>
        </div>
      </div>
      <!-- End: 2nd Slide -->
      <!-- Start: 3rd Slide -->
      <div class="blog-slider__item swiper-slide">
        <div></div>
        <div class="blog-slider__img"><img src="assets/img/blog-3.jpg?h=ccc528a6026bace4ba7b6c523dfca190"></div>
        <div class="blog-slider__content">
          <!-- Start: Date --><span class="blog-slider__code">26 December 2019</span>
          <!-- End: Date -->
          <!-- Start: Your Text -->
          <div class="blog-slider__title">Lorem Ipsum Dolor</div>
          <!-- End: Your Text -->
          <!-- Start: Your Text -->
          <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate
            repellendus magni illo ea animi? </div>
          <!-- End: Your Text --><a class="class=&quot;blog-slider__button" href="#">READ MORE</a>
        </div>
      </div>
      <!-- End: 3rd Slide -->
      <div class="blog-slider__pagination"></div>
    </div>
  </div>
  <!-- End: Swiper Slider Card For Blog Or Product -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
  <script src="./assets/js/script.min.js?h=a05e1c4a136f3ea96450806e8cb12f64"></script>
</body>

</html>
