<app-general-bg></app-general-bg>
<app-navbar></app-navbar>
<div class="addservcontainer">
  <div class="BoxRec">
    <div class="BgInp">

      <div class="GrupoServ">
        <input class="inpTit" placeholder="Adicione Aqui o Título" name="AdicioneAquiTitulo" type="text" #titulo>
        <div class="DetailBox">
          <input class="SoftUse" placeholder="SOFTWARES E FERRAMENTAS USADAS" name="AdicioneAquiSoft" type="text"
            #descricao>
          <input class="DetailUse" placeholder="Detalhe em poucas palavras" name="AdicioneDetail" type="text" #soft>
        </div>
      </div>

      <img id="imagePreview" class="picture" src="./../../../assets/img/UploadImagePnng@4x.png">


      <img class="picture" *ngIf="imgURL" [src]=imgURL>

      <input #file style="display: none" type="file" accept='image/*' (change)="preview(file.files)" />

      <button class="uppImgbtn" (click)="file.click()">UPLOAD IMAGE</button>

      <input class="pricebtn" placeholder="$ 00.00" name="Price" type="number" #preco>
      <div class="ShapeButton">
        <button class="contratar" type="button" (click)="
        addServ(
          file.files, titulo.value, descricao.value, soft.value, preco.value, categoria.value, texto.value
          )
          ">Adicionar
          Serviço</button>

      </div>
    </div>
    <div class="DetailGroup">
      <div class="detailTxt">Detalhes</div>
      <div class="llball"></div>
      <input class="servcat" placeholder="Categoria do Serviço" name="AdicioneAquiCat" type="text" #categoria>
      <div class="dialogbg">

        <textarea class="inpdialog" cols="2" rows="10" placeholder="Escreva um texto explicando este serviço"
          name="AdicioneAquiLog" type="text" style="border: none;" #texto> Escreva um texto explicando este serviço
          ...</textarea>
      </div>
    </div>
    <div class="overlaypv"></div>

  </div>
</div>
