.bp1-service .bp1-paddingservicesfull {
  background-color: rgba(255, 255, 255, 0.0);
  top: 140px;
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 200px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-rectangle {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: calc(100% - 250px);
  width: calc(100% - 400px);
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 0.4;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.0);
  top: 16px;
  height: auto;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 51px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-servicestype {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: auto;
  margin: 0;
  width: 35%;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-servicestype .bp1-mask {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 622px;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  border-radius: 32px;
  transform: rotate(0deg);
  opacity: 0.8;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-servicestype .bp1-stackedservicedetails {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.0);
  top: 30px;
  height: auto;
  width: 568px;
  position: absolute;
  margin: 0;
  left: 16px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-servicestype .bp1-stackedservicedetails .bp1-titlecopy {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: 32px;
  margin: 0;
  width: 531px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-servicestype .bp1-stackedservicedetails .bp1-titlecopy .bp1-group2 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 32px;
  width: 531px;
  position: relative;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-servicestype .bp1-stackedservicedetails .bp1-titlecopy .bp1-group2 .bp1-earningsbyitemtyp {
  background-color: rgba(255, 255, 255, 0.0);
  top: 4px;
  height: auto;
  width: 481px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 0.3;
  font-family: "Poppins", Helvetica, Arial, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16.0px;
  color: rgba(5, 15, 88, 1.0);
  text-align: left;
  letter-spacing: -0.5px;
  line-height: 25.0px;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-servicestype .bp1-stackedservicedetails .bp1-headeritens {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: auto;
  margin: 20px 0 0 0;
  width: 80%;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-servicestype .bp1-stackedservicedetails .bp1-headeritens .bp1-categoria {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: auto;
  margin: 0;
  width: 100%;
  transform: rotate(0deg);
  opacity: 0.5;
  font-family: "Poppins", Helvetica, Arial, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16.0px;
  color: rgba(5, 15, 88, 1.0);
  text-align: left;
  letter-spacing: -0.77px;
  line-height: 25.0px;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-servicestype .bp1-stackedservicedetails .bp1-headeritens .bp1-valor {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: auto;
  margin: 0 0 0 280px;
  width: 100%;
  transform: rotate(0deg);
  opacity: 0.5;
  font-family: "Poppins", Helvetica, Arial, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16.0px;
  color: rgba(5, 15, 88, 1.0);
  text-align: right;
  letter-spacing: -0.77px;
  line-height: 25.0px;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-servicestype .bp1-stackedservicedetails .bp1-rectanglecopy2 {
  background-color: rgba(77, 91, 182, 1.0);
  position: relative;
  height: 1px;
  margin: 20px 0 0 0;
  width: 528px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-servicestype .bp1-stackedservicedetails .bp1-typeservicevaluestack {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: 25px;
  margin: 20px 0 0 0;
  width: auto;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-servicestype .bp1-stackedservicedetails .bp1-typeservicevaluestack .bp1-category {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: 25px;
  margin: 0;
  width: 116px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-servicestype .bp1-stackedservicedetails .bp1-typeservicevaluestack .bp1-category .bp1-category1 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 25px;
  width: 116px;
  position: relative;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-servicestype .bp1-stackedservicedetails .bp1-typeservicevaluestack .bp1-category .bp1-category1 .bp1-categoria {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 24px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Poppins", Helvetica, Arial, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18.0px;
  color: rgba(255, 138, 138, 1.0);
  text-align: left;
  line-height: 27.0px;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-servicestype .bp1-stackedservicedetails .bp1-typeservicevaluestack .bp1-category .bp1-category1 .bp1-rectangle1 {
  background-color: rgba(255, 139, 138, 1.0);
  top: 5px;
  height: 16px;
  width: 16px;
  position: absolute;
  margin: 0;
  left: 0px;
  border-radius: 7px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-servicestype .bp1-stackedservicedetails .bp1-typeservicevaluestack .bp1-valor {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: 25px;
  margin: 0 0 0 254px;
  width: 89px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-servicestype .bp1-stackedservicedetails .bp1-typeservicevaluestack .bp1-valor .bp1-earning {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: -2px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Poppins", Helvetica, Arial, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18.0px;
  color: rgba(5, 15, 88, 1.0);
  text-align: right;
  line-height: 27.0px;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-servicestype .bp1-stackedservicedetails .bp1-rectanglecopy3 {
  background-color: rgba(77, 91, 182, 1.0);
  position: relative;
  height: 1px;
  margin: 20px 0 0 0;
  width: 528px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-servicestype .bp1-stackedservicedetails .bp1-caixadetexto {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: 441px;
  margin: 20px 0 0 0;
  width: 568px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-servicestype .bp1-stackedservicedetails .bp1-caixadetexto .bp1-dialogbg {
  background-color: rgba(255, 255, 255, 0.0);
  top: 1px;
  height: 440px;
  width: 568px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 0.8;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-servicestype .bp1-stackedservicedetails .bp1-caixadetexto .bp1-texto {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.0);
  top: 41px;
  height: 312px;
  width: auto;
  position: absolute;
  margin: 0;
  left: 53px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-servicestype .bp1-stackedservicedetails .bp1-caixadetexto .bp1-texto .bp1-loremipsumdolorsi {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: auto;
  margin: 0;
  width: 225px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12.0px;
  color: rgba(0, 0, 0, 0.54);
  text-align: justify;
  line-height: 24.0px;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-servicestype .bp1-stackedservicedetails .bp1-caixadetexto .bp1-texto .bp1-loremipsumdolorsi1 {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: auto;
  margin: 0 0 0 30px;
  width: 206px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12.0px;
  color: rgba(0, 0, 0, 0.54);
  text-align: left;
  line-height: 24.0px;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-paddingserviceexample {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: 100%;
  margin: 0 0 0 40px;
  width: 551px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-paddingserviceexample .bp1-background {
  background-color: rgba(77, 91, 182, 1.0);
  top: 0px;
  height: 631px;
  width: 550px;
  position: absolute;
  margin: 0;
  left: 0px;
  border-radius: 97px;
  transform: rotate(0deg);
  opacity: 0.3;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-paddingserviceexample .bp1-servicebok {
  background-color: rgba(255, 255, 255, 0.0);
  top: 40px;
  height: 466px;
  width: 470px;
  position: absolute;
  margin: 0;
  left: 40px;
  overflow: hidden;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-paddingserviceexample .bp1-servicebok .bp1-background1 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 466px;
  width: 470px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-paddingserviceexample .bp1-servicebok .bp1-servicebok1 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 466px;
  width: 470px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-paddingserviceexample .bp1-servicebok .bp1-servicebok1 .bp1-container {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 466px;
  width: 470px;
  position: relative;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-paddingserviceexample .bp1-servicebok .bp1-servicebok1 .bp1-container .bp1-paddingbg {
  background-color: rgba(215, 215, 215, 1.0);
  top: 0px;
  height: 466px;
  box-sizing: border-box;
  width: 471px;
  position: absolute;
  margin: 0;
  left: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(150, 150, 150, 1.0);
  transform: rotate(0deg);
  opacity: 0.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-paddingserviceexample .bp1-servicebok .bp1-servicebok1 .bp1-container .bp1-stackedcontainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.0);
  top: 15px;
  height: auto;
  width: 450px;
  position: absolute;
  margin: 0;
  left: 10px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-paddingserviceexample .bp1-servicebok .bp1-servicebok1 .bp1-container .bp1-stackedcontainer .bp1-picture {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: auto;
  margin: 0;
  width: 435px;
  border-radius: 15px;
  transform: rotate(0deg);
  opacity: 1.0;
  transition: all 0.2s ease-in-out;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-paddingserviceexample .bp1-servicebok .bp1-servicebok1 .bp1-container .bp1-stackedcontainer .bp1-picture {
  pointer-events: auto;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-paddingserviceexample .bp1-servicebok .bp1-servicebok1 .bp1-container .bp1-stackedcontainer .bp1-picture:hover {
  transform: scale(1.1);
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-paddingserviceexample .bp1-servicebok .bp1-servicebok1 .bp1-container .bp1-stackedcontainer .bp1-title {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: 29px;
  margin: 20px 0 0 0;
  width: 433px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-paddingserviceexample .bp1-servicebok .bp1-servicebok1 .bp1-container .bp1-stackedcontainer .bp1-title .bp1-t355tulodoprodutoou {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 28px;
  width: 434px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 900;
  font-style: normal;
  font-size: 24.0px;
  color: rgba(198, 216, 237, 1.0);
  text-align: left;
  letter-spacing: 1.33px;
  line-height: 28.0px;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-paddingserviceexample .bp1-servicebok .bp1-servicebok1 .bp1-container .bp1-stackedcontainer .bp1-paddingdetalhescontainer {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: 58px;
  margin: 20px 0 0 0;
  width: 450px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-paddingserviceexample .bp1-servicebok .bp1-servicebok1 .bp1-container .bp1-stackedcontainer .bp1-paddingdetalhescontainer .bp1-background2 {
  background-color: rgba(77, 91, 182, 1.0);
  top: 0px;
  height: 58px;
  width: 450px;
  position: absolute;
  margin: 0;
  left: 0px;
  border-radius: 29px;
  transform: rotate(0deg);
  opacity: 0.3;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-paddingserviceexample .bp1-servicebok .bp1-servicebok1 .bp1-container .bp1-stackedcontainer .bp1-paddingdetalhescontainer .bp1-stackedgroup {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.0);
  top: 10px;
  height: auto;
  width: 425px;
  position: absolute;
  margin: 0;
  left: 20px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-paddingserviceexample .bp1-servicebok .bp1-servicebok1 .bp1-container .bp1-stackedcontainer .bp1-paddingdetalhescontainer .bp1-stackedgroup .bp1-detailmddl {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: 14px;
  margin: 0;
  width: 425px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-paddingserviceexample .bp1-servicebok .bp1-servicebok1 .bp1-container .bp1-stackedcontainer .bp1-paddingdetalhescontainer .bp1-stackedgroup .bp1-detailmddl .bp1-softwareseferramen {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 14px;
  width: 425px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12.0px;
  color: rgba(255, 255, 255, 1.0);
  text-align: left;
  line-height: 14.0px;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-paddingserviceexample .bp1-servicebok .bp1-servicebok1 .bp1-container .bp1-stackedcontainer .bp1-paddingdetalhescontainer .bp1-stackedgroup .bp1-detaildown {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: 14px;
  margin: 10px 0 0 0;
  width: 425px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-paddingserviceexample .bp1-servicebok .bp1-servicebok1 .bp1-container .bp1-stackedcontainer .bp1-paddingdetalhescontainer .bp1-stackedgroup .bp1-detaildown .bp1-detalheempoucaspa {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 14px;
  width: 425px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12.0px;
  color: rgba(255, 255, 255, 1.0);
  text-align: left;
  line-height: 14.0px;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-paddingserviceexample .bp1-comprarbutton {
  background-color: rgba(255, 255, 255, 0.0);
  top: 518px;
  height: 73px;
  width: 258px;
  position: absolute;
  margin: 0;
  left: 144px;
  transform: rotate(0deg);
  opacity: 1.0;
  transition: all 0.2s ease-in-out;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-paddingserviceexample .bp1-comprarbutton {
  pointer-events: auto;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-paddingserviceexample .bp1-comprarbutton:hover {
  transform: translate(5px, 0);
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-paddingserviceexample .bp1-comprarbutton .bp1-button {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 73px;
  width: 258px;
  position: relative;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-paddingserviceexample .bp1-comprarbutton .bp1-button .bp1-button2 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 1px;
  height: 71px;
  width: 258px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 0.25;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-paddingserviceexample .bp1-comprarbutton .bp1-button .bp1-button2 .bp1-path {
  background-color: rgba(255, 255, 255, 0.0);
  top: 3px;
  height: 66px;
  width: 253px;
  position: absolute;
  margin: 0;
  left: 2px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-paddingserviceexample .bp1-comprarbutton .bp1-button .bp1-button2 .bp1-shape {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 71px;
  width: 258px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-paddingserviceexample .bp1-comprarbutton .bp1-button .bp1-shop {
  background-color: rgba(255, 255, 255, 0.0);
  top: 21px;
  height: 29px;
  width: 25px;
  position: absolute;
  margin: 0;
  left: 45px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-paddingserviceexample .bp1-comprarbutton .bp1-button .bp1-shop .bp1-shape {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 29px;
  width: 24px;
  position: absolute;
  margin: 0;
  left: 1px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-paddingserviceexample .bp1-comprarbutton .bp1-button .bp1-shop .bp1-shape1 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 29px;
  width: 24px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-paddingserviceexample .bp1-comprarbutton .bp1-button .bp1-addtocard {
  background-color: rgba(255, 255, 255, 0.0);
  top: 23px;
  height: 28px;
  width: 168px;
  position: absolute;
  margin: 0;
  left: 90px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-service .bp1-paddingservicesfull .bp1-servicestack .bp1-paddingserviceexample .bp1-comprarbutton .bp1-button .bp1-addtocard .bp1-contratar {
  background-color: rgba(255, 255, 255, 0.0);
  top: 4px;
  height: auto;
  width: 168px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16.0px;
  color: rgba(255, 255, 255, 1.0);
  text-align: left;
  line-height: 19.0px;
}

.bp1-service {
  width: 100%;
  min-width: 1440px;
  height: 100vh;
  min-height: 869px;
  position: relative;
  overflow: hidden;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 255, 255, 0);
  opacity: 1.0;
}
