<div class="servgroup">

  <div class="BoxView"></div>
  <div class="bgServ">
    <div class="BoxServ"></div>
    <div class="paddingBG">
      <img id="nomeserv" alt="Image" [src]=this.serv.img class="Defimg" />
      <span class="ServTitle">{{ this.serv.titulo }} </span>
      <div class="DetailBox">
        <div class="SoftUse">{{ this.serv.soft }} </div>
        <div class="DetailL">{{ this.serv.descricao }} </div>
      </div>
    </div>
    <div class="apagarbtn">
      <button (click)="deleteServPrev()" class="apagar" type="button"> Apagar</button>
    </div>
    <div class="BtnAdd">
      <button (click)="this.addFire(this.serv)" id="confirm" class="okay" type="button">Confirmar</button>
    </div>
  </div>

  <div class="bgDetail">
    <div class="detalhes"> Detalhes </div>
    <div class="categoria"> Categoria </div>
    <div class="valor">Valor </div>
    <div class="linei"></div>
    <div class="bolota"></div>
    <div class="categnname">{{ this.serv.categoria }} </div>
    <div class="Real"> R$ </div>
    <span class="ServPrice">{{ this.serv.preco }} </span>
    <div class="lineii"></div>
    <div class="dialogbg">
      <div class="inpdialog" cols="2" rows="10" name="AdicioneAquiLog" type="text" style="border: none;">
        {{ this.serv.texto }} </div>
    </div>
  </div>

</div>
