<div class="bp1-sobrenosgrouppadding-layout-container">
  <div class="bp1-sobrenosgrouppadding">
    <div class="bp1-rectangle anima-hidden ">
    </div>
    <div class="bp1-sobrenosgroup">
      <div class="bp1-a1ststacktopsobre">
        <div class="bp1-title">
          <img alt="Image" src="./../../../../assets/img/sobre-rectangle-2.png" class="bp1-rectangle1" />
          <div class="bp1-sobren323s">
            SOBRE NÓS
          </div>
          <div class="bp1-prazer">
            prazer :)
          </div>
          <div class="bp1-detailtextabout">
            <div class="bp1-escrevaaquiumtext">
              Escreva aqui um texto bem curto e que seja
            </div>
            <div class="bp1-sucintoebemaprese">
              sucinto e bem apresentativo, mostrando o pra que
            </div>
            <div class="bp1-viemosaquisomosu">
              viemos aqui, somos uma equipe forte e as pessoas
            </div>
            <div class="bp1-quet352macessoanos">
              que têm acesso a nosso site precisa saber disso
            </div>
          </div>
          <img alt="Image" src="./../../../../assets/img/sobre-line@2x.png" class="bp1-line" />
        </div>
        <img alt="Image" src="./../../../../assets/img/sobre-imagem.png" class="bp1-imagem" />
      </div>
      <div class="bp1-stackedgroup2">
        <div class="bp1-stackedgroup3-layout-container">
          <div class="bp1-stackedgroup3">
            <div class="bp1-stackedgroup">
              <div class="bp1-cards">
                <img alt="Image" src="./../../../../assets/img/sobre-rectangle-3@2x.png" class="bp1-rectangle2" />
                <div class="bp1-nossahist363ria">
                  NOSSA HISTÓRIA
                </div>
                <div class="bp1-rectangle1">
                </div>
              </div>
              <div class="bp1-caixadetexto">
                <img alt="Image" src="./../../../../assets/img/sobre-dialog-bg.png" class="bp1-dialogbg" />
                <div class="bp1-texto">
                  <div class="bp1-loremipsumdolorsi">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisinuli.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisinuli.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                  </div>
                  <div class="bp1-loremipsumdolorsi1">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisinuli.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisinuli.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
