<div class="bp4-precos">
  <div class="bp4-asset10">
    <img alt="Image" src="assets/img/precos-rectangle.png" class="bp4-rectangle" />
  </div>
  <img alt="Image" src="assets/img/precos-wave.png" class="bp4-wave" id="None" />
  <img alt="Image" src="assets/img/precos-wave-copy.png" class="bp4-wavecopy" />
  <div class="bp4-asset9">
    <div class="bp4-group">
      <img alt="Image" src="assets/img/precos-path.png" class="bp4-path" />
      <img alt="Image" src="assets/img/precos-path-1.png" class="bp4-path1" />
    </div>
  </div>
</div>
