<app-general-bg></app-general-bg>
<app-navbar></app-navbar>
<div class="bp1-a404-layout-container">
  <div class="bp1-a404">
    <a routerLink="/">
      <div class="bp1-button">
        <div class="bp1-background">
        </div>
        <div class="bp1-u5bb9u5668u6837u5f0f">
          <div class="bp1-mask">
          </div>
          <div class="bp1-u21b3ud83cudfa8u80ccu666f">
            <div class="bp1-base">
            </div>
          </div>
        </div>
        <div class="bp1-u6587u5b57u6837u5f0f">
          <div class="bp1-u21b3u270fufe0fcontent">
            Voltar para o Início
          </div>
        </div>
      </div>
    </a>
    <div class="bp1-a16pxregularcenterwhitecopy3">
      <div class="bp1-u21b3u270fufe0fcontent">
        Essa Página não existe ou está fora do Ar
      </div>
    </div>
    <div class="bp1-a16pxregularcenterwhitecopy31">
      <div class="bp1-u21b3u270fufe0fcontent">
        Ooops!!
      </div>
    </div>
    <div class="bp1-a4041">
      404
    </div>
  </div>
</div>
