<nav class="navbar navbar-inverse">
  <a class="navbar-brand">
    <img routerLink="/" src="./../../../assets/img/logo-criadores-out.svg" class="LogoCriadoresOut" />
    <div class="ADICIONAR-SERVIOS"> ADICIONAR SERVIÇOS AO SITE </div>
  </a>

  <ul class="nav navbar-nav">
    <form class="form-row">
      <button routerLink="/addserv" class="btn btn-outline-success mr-2" type="button">Adicionar Serviços</button>
      <button routerLink="/pageservs" class="btn btn-sm btn-outline-secondary mr-4" type="button">Serviços</button>
    </form>
  </ul>
</nav>

<img alt="Image" src="./../../../assets/conteudo-path-2-1.png" class="Path-2" />
