<app-general-bg></app-general-bg>

<div class="conteudo">
  <div class="BGlogin"><img class="BGlogin" src="./../../../../assets/svg/BGLogin.svg" alt=""></div>
  <div class="login">
    <div class="loginpainel-layout-container">
      <div class="loginpainel">
        <div class="backgroundpanellogin">
          <img alt="Image" src="./../../../../assets/img/login-bitmap.png" class="bitmap" />
          <img alt="Image" src=" ./../../../../assets/img/login-path-59.png" class="path" />
          <img alt="Image" src=" ./../../../../assets/img/login-path-60.png" class="path1" />
          <img alt="Image" src=" ./../../../../assets/img/login-path-61.png" class="path2" />
        </div>
        <div class="userimput">
          <img alt="Image" src=" ./../../../../assets/img/login-rectangle-4.png" class="rectangle" />
          <img alt="Image" src=" ./../../../../assets/img/login-path-62@2x.png" class="path" />


          <input class="textinsiraaquioseuemaildecadastro" [(ngModel)]="userAdm.email"
            [ngClass]="{'is-invalid':userEmail.errors && userEmail.touched}" name="email"
            placeholder="Insira Aqui o Seu E-mail Cadastrado" required="email" type="email" #userEmail="ngModel"
            required
            pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" />

          <div [hidden]="!userEmail.errors?.required" class="invalid-feedback">
            É preciso seu E-Mail
          </div>
          <div [hidden]="!userEmail.errors?.pattern" class="invalid-feedback">
            Este E-Mail não é válido
          </div>


        </div>
        <div class="loginbutton  smart-layers-pointers ">
          <img alt="Image" src=" ./../../../../assets/img/login-rectangle-3@2x.png" class="rectangle" />
          <div (click)="onSingin(userEmail.value, userPassword.value)" class="entrar  valign-text-middle">
            Entrar
          </div>
        </div>
        <div class="loginbuttonGoogle  smart-layers-pointers ">
          <img alt="Image" src=" ./../../../../assets/img/login-rectangle-3@2x.png" class="rectangleGoogle" />
          <div (click)="fbAuth.googleSignIn()" class="entrarGoogle  valign-text-middle">

            Entrar com Google
          </div>
        </div>
        <div class="passwordimput">
          <img alt="Image" src=" ./../../../../assets/img/login-rectangle-4.png" class="rectangle" />
          <img alt="Image" src=" ./../../../../assets/img/login-shape@2x.png" class="shape" />
          <input class="textinsiraaquiosuasenhadecadastro" name="textInsiraAquiOSuaSenhaDeCadastro"
            placeholder="Insira Aqui Sua Senha Cadastrada" required="" #userPassword type="password" />
        </div>
        <div class="rememberme">
          <img alt="Image" src=" ./../../../../assets/img/login-rectangle-5@2x.png" class="rectangle" />
          <div class="lembredemim  valign-text-middle">
            Lembre de mim
          </div>
        </div>
        <div class="esqueceusuasenha">
          Esqueceu sua Senha?
        </div>
        <a routerLink="/criadorCadastro">
          <div class="cadastrar  valign-text-middle  smart-layers-pointers ">
            CADASTRAR
          </div>
        </a>
        <img alt="Image" src=" ./../../../../assets/img/login-bannerimagelogin.png" class="bannerimagelogin" />
        <div class="estrelinhas">
          <img alt="Image" src=" ./../../../../assets/img/login-path@2x.png" class="path  smart-layers-pointers " />
          <img alt="Image" src=" ./../../../../assets/img/login-path@2x.png" class="path1  smart-layers-pointers " />
          <img alt="Image" src=" ./../../../../assets/img/login-path@2x.png" class="path2  smart-layers-pointers " />
          <img alt="Image" src=" ./../../../../assets/img/login-path@2x.png" class="path3  smart-layers-pointers " />
          <img alt="Image" src=" ./../../../../assets/img/login-path@2x.png" class="path4  smart-layers-pointers " />
          <img alt="Image" src=" ./../../../../assets/img/login-path@2x.png" class="path5  smart-layers-pointers " />
          <img alt="Image" src=" ./../../../../assets/img/login-path@2x.png" class="path6  smart-layers-pointers " />
          <img alt="Image" src=" ./../../../../assets/img/login-path@2x.png" class="path7  smart-layers-pointers " />
          <img alt="Image" src=" ./../../../../assets/img/login-path@2x.png" class="path8  smart-layers-pointers " />
          <img alt="Image" src=" ./../../../../assets/img/login-path@2x.png" class="path9  smart-layers-pointers " />
          <img alt="Image" src=" ./../../../../assets/img/login-path@2x.png" class="path10  smart-layers-pointers " />
        </div>
        <div class="textcadastrese">
          <div class="cadastresenonosso  valign-text-middle">
            Criamos aqui um cantinho para que criadores diversos possam adicionar seus serviços, aproveite :)
          </div>
        </div>
        <div class="vamoscriarjuntos">
          <div class="vamoscriarjuntos1">
            VAMOS SER CRIADORES
          </div>
        </div>


      </div>
    </div>
  </div>

</div>
<!-- <app-footer></app-footer> -->
