<div class="bp4-precos">
  <div class="bp4-precosbottons-layout-container">
    <div class="bp4-precosbottons">
      <div id="Ge6g9IO">
        <div
          class="bp4-sliderbanner bp4-sliderbanner-A4Gv component anima-component-wrapper anima-not-ready anima-word-break state1"
          data-initial-state="state1">
          <img alt="Image" class="bp4-bannerbrand" src="assets/img/precos-bannerbrand.png" />
          <img alt="Image" class="bp4-bannerdesign" src="assets/img/precos-bannerdesign.png" />
          <img alt="Image" class="bp4-bannerprogramming" src="assets/img/precos-bannerprogramming.png" />
          <div class="bp4-bullet">
            <img alt="Image" class="bp4-oval" src="assets/img/precos-oval@2x.png" />
            <img alt="Image" class="bp4-oval1" src="assets/img/precos-oval-1@2x.png" />
            <img alt="Image" class="bp4-oval2" src="assets/img/precos-oval-1@2x.png" />
          </div>
          <div class="bp4-vamoscriarprograma">
            Vamos Criar Programas?
          </div>
          <div class="bp4-vamoscriarconteudos">
            Vamos Criar Conteúdos?
          </div>
          <div class="bp4-vamoscriarconteudoscopy">
            Vamos Criar Vídeos ou Imagens?
          </div>
        </div>
      </div>
      <div class="bp4-categories">
        <div class="bp4-stackedgroup">
          <div id="BUFZPwK">
            <div
              class="bp4-catavisualgroup bp4-catavisualgroup-4t0h component anima-component-wrapper anima-not-ready anima-word-break anima-smart-layers-pointers state1"
              data-initial-state="state1">
              <div class="bp4-categavisual">
                <a href="avisuallq.html">
                  <img alt="Image" class="bp4-categavisual1" src="assets/img/precos-categavisual.png" />
                </a>
              </div>
              <div class="bp4-rectangle">
              </div>
              <div class="bp4-hovertext anima-hidden ">
                IMAGENS E VÍDEOS
              </div>
            </div>
          </div>
          <div id="1R7ZoLR">
            <div
              class="bp4-catprogrammgroup bp4-catprogrammgroup-V8lg component anima-component-wrapper anima-not-ready anima-word-break anima-smart-layers-pointers state1"
              data-initial-state="state1">
              <div class="bp4-categprogramm">
                <a href="programa.html">
                  <img alt="Image" class="bp4-categprogramm1" src="assets/img/precos-categprogramm.png" />
                </a>
              </div>
              <div class="bp4-rectanglecopy">
              </div>
              <div class="bp4-hovertextcopy anima-hidden ">
                PROGRAMAÇÃO
              </div>
            </div>
          </div>
          <div id="YT9djMS">
            <div
              class="bp4-catcontaingroup bp4-catcontaingroup-flQO component anima-component-wrapper anima-not-ready anima-word-break anima-smart-layers-pointers state1"
              data-initial-state="state1">
              <div class="bp4-categcontain">
                <a href="conteudo.html">
                  <img alt="Image" class="bp4-categcontain1" src="assets/img/precos-categcontain.png" />
                </a>
              </div>
              <div class="bp4-rectanglecopy2">
              </div>
              <div class="bp4-hovertextcopy2 anima-hidden ">
                CONTEÚDOS
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="bp4-packservices">
        <div class="bp4-group2">
          <div class="bp4-ofertasepacotesde">
            OFERTAS E PACOTES DE SERVIÇOS
          </div>
        </div>
        <div class="bp4-card">
          <div class="bp4-background">
          </div>
          <a href="service.html">
            <div class="bp4-card3">
              <img alt="Image" src="assets/img/precos-rectangle-5.png" class="bp4-rectangle" />
              <img alt="Image" src="assets/img/precos-rectangle-4.png" class="bp4-rectangle1" />
              <div class="bp4-identidadevisualma">
                Identidade Visual mais…
              </div>
              <div class="bp4-rp11000000">
                Rp 11.000.000
              </div>
            </div>
          </a>
        </div>
        <div class="bp4-card1">
          <img alt="Image" src="assets/img/precos-rectangle-5.png" class="bp4-rectangle" />
          <img alt="Image" src="assets/img/precos-rectangle-4.png" class="bp4-rectangle1" />
          <div class="bp4-siteresponsivomais">
            Site Responsivo mais…
          </div>
          <div class="bp4-rp11000000">
            Rp 11.000.000
          </div>
        </div>
        <div class="bp4-card2">
          <img alt="Image" src="assets/img/precos-rectangle-5.png" class="bp4-rectangle" />
          <img alt="Image" src="assets/img/precos-rectangle-4.png" class="bp4-rectangle1" />
          <div class="bp4-manuten347343odecontas">
            Manutenção de Contas…
          </div>
          <div class="bp4-rp11000000">
            Rp 11.000.000
          </div>
        </div>
      </div>
      <div class="bp4-servicestype">
        <img alt="Image" src="assets/img/precos-mask.png" class="bp4-mask" />
        <div class="bp4-headeritens">
          <div class="bp4-headeritens1">
            <div class="bp4-stackedgroup1">
              <div class="bp4-servi347os">
                Serviços
              </div>
              <div class="bp4-categoria">
                Categoria
              </div>
              <div class="bp4-valor">
                Valor
              </div>
            </div>
            <div class="bp4-rectanglecopy2">
            </div>
          </div>
        </div>
        <div class="bp4-titlecopy">
          <div class="bp4-group2">
            <div class="bp4-earningsbyitemtyp">
              Escolha pelo tipo de Serviço
            </div>
          </div>
        </div>
        <div class="bp4-stackedgroup">

          <div id="pWY3lsL">
            <div
              class="bp4-typeservicescontentscopy4 bp4-typeservicescontentscopy4-ip54 component anima-component-wrapper anima-not-ready anima-word-break state1"
              data-initial-state="state1">
              <div class="bp4-typeservicenotselected">
                <div class="bp4-typeservicenotselected1">
                </div>
                <div class="bp4-group7copy2">
                  <div class="bp4-rectangle">
                  </div>
                  <div class="bp4-titleserviceinput">
                    <div class="bp4-group6">
                      <div class="bp4-title">
                        <div class="bp4-nomedoservi347oofer">
                          Nome do Serviço/oferta - Breve descrição
                        </div>
                        <div class="bp4-softwareutilizado">
                          Software Utilizado
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="bp4-category">
                    <div class="bp4-category1">
                      <div class="bp4-categoria">
                        UI Design
                      </div>
                      <div class="bp4-rectangle1">
                      </div>
                    </div>
                  </div>
                  <div class="bp4-valor">
                    <div class="bp4-earning">
                      R$0'000.00
                    </div>
                  </div>
                  <div class="bp4-imagemask">
                    <div class="bp4-mask1">
                    </div>
                    <img alt="Image" class="bp4-favicon" src="assets/img/precos-favicon-4@2x.png" />
                  </div>
                </div>
              </div>
              <div class="bp4-box">
                <div class="bp4-box1">
                  <img alt="Image" class="bp4-mask1" src="assets/img/precos-mask-2.png" />
                  <div class="bp4-stackedgroup1">
                    <div class="bp4-stackedgroup2">
                      <div class="bp4-maskimage">
                        <div class="bp4-mask2">
                        </div>
                        <img alt="Image" class="bp4-favicon" src="assets/img/precos-favicon-5@2x.png" />
                      </div>
                      <div class="bp4-titleserviceinput">
                        <div class="bp4-group6">
                          <div class="bp4-title">
                            <div class="bp4-nomedoservi347oofer">
                              Minimal 3D Illustrations - Sugus UI Kit
                            </div>
                            <div class="bp4-softwareutilizado">
                              Adobe Illustrator
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="bp4-categ">
                      <img alt="Image" class="bp4-rectangle" src="assets/img/precos-rectangle-11@2x.png" />
                      <div class="bp4-category">
                        <div class="bp4-category1">
                          <div class="bp4-categoria">
                            Categoria
                          </div>
                          <div class="bp4-rectangle1">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="bp4-valorselected">
                      <img alt="Image" class="bp4-rectangle" src="assets/img/precos-rectangle-8@2x.png" />
                      <div class="bp4-valor">
                        <div class="bp4-earning">
                          R$0'000.00
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="FTsZx3e">
            <div
              class="bp4-typeservicescontentscopy3 bp4-typeservicescontentscopy3-u4du component anima-component-wrapper anima-not-ready anima-word-break state1"
              data-initial-state="state1">
              <div class="bp4-typeservicenotselected">
                <div class="bp4-typeservicenotselected1">
                </div>
                <div class="bp4-group7copy2">
                  <div class="bp4-rectangle">
                  </div>
                  <div class="bp4-titleserviceinput">
                    <div class="bp4-group6">
                      <div class="bp4-title">
                        <div class="bp4-nomedoservi347oofer">
                          Nome do Serviço/oferta - Breve descrição
                        </div>
                        <div class="bp4-softwareutilizado">
                          Software Utilizado
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="bp4-category">
                    <div class="bp4-category1">
                      <div class="bp4-categoria">
                        UI Design
                      </div>
                      <div class="bp4-rectangle1">
                      </div>
                    </div>
                  </div>
                  <div class="bp4-valor">
                    <div class="bp4-earning">
                      R$0'000.00
                    </div>
                  </div>
                  <div class="bp4-imagemask">
                    <div class="bp4-mask1">
                    </div>
                    <img alt="Image" class="bp4-favicon" src="assets/img/precos-favicon-4@2x.png" />
                  </div>
                </div>
              </div>
              <div class="bp4-box">
                <div class="bp4-box1">
                  <img alt="Image" class="bp4-mask1" src="assets/img/precos-mask-2.png" />
                  <div class="bp4-stackedgroup1">
                    <div class="bp4-stackedgroup2">
                      <div class="bp4-maskimage">
                        <div class="bp4-mask2">
                        </div>
                        <img alt="Image" class="bp4-favicon" src="assets/img/precos-favicon-5@2x.png" />
                      </div>
                      <div class="bp4-titleserviceinput">
                        <div class="bp4-group6">
                          <div class="bp4-title">
                            <div class="bp4-nomedoservi347oofer">
                              Minimal 3D Illustrations - Sugus UI Kit
                            </div>
                            <div class="bp4-softwareutilizado">
                              Adobe Illustrator
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="bp4-categ">
                      <img alt="Image" class="bp4-rectangle" src="assets/img/precos-rectangle-11@2x.png" />
                      <div class="bp4-category">
                        <div class="bp4-category1">
                          <div class="bp4-categoria">
                            Categoria
                          </div>
                          <div class="bp4-rectangle1">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="bp4-valorselected">
                      <img alt="Image" class="bp4-rectangle" src="assets/img/precos-rectangle-8@2x.png" />
                      <div class="bp4-valor">
                        <div class="bp4-earning">
                          R$0'000.00
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="O958Do4">
            <div
              class="bp4-typeservicescontentscopy2 bp4-typeservicescontentscopy2-zCkZ component anima-component-wrapper anima-not-ready anima-word-break state1"
              data-initial-state="state1">
              <div class="bp4-typeservicenotselected">
                <div class="bp4-typeservicenotselected1">
                </div>
                <div class="bp4-group7copy2">
                  <div class="bp4-rectangle">
                  </div>
                  <div class="bp4-titleserviceinput">
                    <div class="bp4-group6">
                      <div class="bp4-title">
                        <div class="bp4-nomedoservi347oofer">
                          Nome do Serviço/oferta - Breve descrição
                        </div>
                        <div class="bp4-softwareutilizado">
                          Software Utilizado
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="bp4-category">
                    <div class="bp4-category1">
                      <div class="bp4-categoria">
                        UI Design
                      </div>
                      <div class="bp4-rectangle1">
                      </div>
                    </div>
                  </div>
                  <div class="bp4-valor">
                    <div class="bp4-earning">
                      R$0'000.00
                    </div>
                  </div>
                  <div class="bp4-imagemask">
                    <div class="bp4-mask1">
                    </div>
                    <img alt="Image" class="bp4-favicon" src="assets/img/precos-favicon-4@2x.png" />
                  </div>
                </div>
              </div>
              <div class="bp4-box">
                <div class="bp4-box1">
                  <img alt="Image" class="bp4-mask1" src="assets/img/precos-mask-2.png" />
                  <div class="bp4-stackedgroup1">
                    <div class="bp4-stackedgroup2">
                      <div class="bp4-maskimage">
                        <div class="bp4-mask2">
                        </div>
                        <img alt="Image" class="bp4-favicon" src="assets/img/precos-favicon-5@2x.png" />
                      </div>
                      <div class="bp4-titleserviceinput">
                        <div class="bp4-group6">
                          <div class="bp4-title">
                            <div class="bp4-nomedoservi347oofer">
                              Minimal 3D Illustrations - Sugus UI Kit
                            </div>
                            <div class="bp4-softwareutilizado">
                              Adobe Illustrator
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="bp4-categ">
                      <img alt="Image" class="bp4-rectangle" src="assets/img/precos-rectangle-11@2x.png" />
                      <div class="bp4-category">
                        <div class="bp4-category1">
                          <div class="bp4-categoria">
                            Categoria
                          </div>
                          <div class="bp4-rectangle1">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="bp4-valorselected">
                      <img alt="Image" class="bp4-rectangle" src="assets/img/precos-rectangle-8@2x.png" />
                      <div class="bp4-valor">
                        <div class="bp4-earning">
                          R$0'000.00
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
