<app-general-bg></app-general-bg>
<app-adm-bar></app-adm-bar>
<div class="servicescontainer" id="servcontainer">
  <a href="service.html">
    <div class="servconnteudo">
      <img alt="Image" class="servimg" [src]=this.servs[0].img />
      <div class="servtitle">{{ this.servs[0].titulo }}</div>
      <div class="detaleConteudo">
        <div class="servsoft">{{ this.servs[3].soft }}</div>
        <div class="servDetail">{{ this.servs[4].descricao }}</div>
      </div>
    </div>
  </a>
</div>
