<app-implement-bg></app-implement-bg>
<div class="bp1-sobre">
  <div class="bp1-sobrenosgrouppadding-layout-container">
    <div class="bp1-sobrenosgrouppadding">
      <div class="bp1-rectangle anima-hidden ">
      </div>
      <div class="bp1-sobrenosgroup">
        <div class="bp1-a1ststacktopsobre">
          <div class="bp1-title">
            <img alt="Image" src="assets/img/sobre-rectangle-2.png" class="bp1-rectangle1" />
            <div class="bp1-sobren323s">
              SOBRE NÓS
            </div>
            <div class="bp1-prazer">
              prazer :)
            </div>
            <div class="bp1-detailtextabout">
              <div class="bp1-escrevaaquiumtext">
                Escreva aqui um texto bem curto e que seja
              </div>
              <div class="bp1-sucintoebemaprese">
                sucinto e bem apresentativo, mostrando o pra que
              </div>
              <div class="bp1-viemosaquisomosu">
                viemos aqui, somos uma equipe forte e as pessoas
              </div>
              <div class="bp1-quet352macessoanos">
                que têm acesso a nosso site precisa saber disso
              </div>
            </div>
            <img alt="Image" src="assets/img/sobre-line@2x.png" class="bp1-line" />
          </div>
          <img alt="Image" src="assets/img/sobre-imagem.png" class="bp1-imagem" />
        </div>
        <div class="bp1-stackedgroup2">
          <div class="bp1-stackedgroup3-layout-container">
            <div class="bp1-stackedgroup3">
              <div class="bp1-stackedgroup">
                <div class="bp1-cards">
                  <img alt="Image" src="assets/img/sobre-rectangle-3@2x.png" class="bp1-rectangle2" />
                  <div class="bp1-nossahist363ria">
                    NOSSA HISTÓRIA
                  </div>
                  <div class="bp1-rectangle1">
                  </div>
                </div>
                <div class="bp1-caixadetexto">
                  <img alt="Image" src="assets/img/sobre-dialog-bg.png" class="bp1-dialogbg" />
                  <div class="bp1-texto">
                    <div class="bp1-loremipsumdolorsi">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                      nisinuli. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisinuli.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt
                    </div>
                    <div class="bp1-loremipsumdolorsi1">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                      nisinuli. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisinuli.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bp2-sobrelq">
  <div class="bp2-sobrenosgroup-layout-container">
    <div class="bp2-sobrenosgroup">
      <div class="bp2-a1ststacktopsobre">
        <div class="bp2-title">
          <img alt="Image" src="assets/img/sobrelq-rectangle-2.png" class="bp2-rectangle" />
          <div class="bp2-sobren323s">
            SOBRE NÓS
          </div>
          <div class="bp2-prazer">
            prazer :)
          </div>
          <div class="bp2-detailtextabout">
            <div class="bp2-escrevaaquiumtext">
              Escreva aqui um texto bem curto e que seja
            </div>
            <div class="bp2-sucintoebemaprese">
              sucinto e bem apresentativo, mostrando o pra que
            </div>
            <div class="bp2-viemosaquisomosu">
              viemos aqui, somos uma equipe forte e as pessoas
            </div>
            <div class="bp2-quet352macessoanos">
              que têm acesso a nosso site precisa saber disso
            </div>
          </div>
          <img alt="Image" src="assets/img/sobrelq-line@2x.png" class="bp2-line" />
        </div>
        <img alt="Image" src="assets/img/sobrelq-imagem.png" class="bp2-imagem" />
      </div>
      <div class="bp2-stackedgroup2">
        <div class="bp2-stackedgroup3-layout-container">
          <div class="bp2-stackedgroup3">
            <div class="bp2-stackedgroup">
              <div class="bp2-cards">
                <img alt="Image" src="assets/img/sobrelq-rectangle-3@2x.png" class="bp2-rectangle" />
                <div class="bp2-nossahist363ria">
                  NOSSA HISTÓRIA
                </div>
                <div class="bp2-rectangle1">
                </div>
              </div>
              <div class="bp2-caixadetexto">
                <img alt="Image" src="assets/img/sobrelq-dialog-bg.png" class="bp2-dialogbg" />
                <div class="bp2-texto">
                  <div class="bp2-loremipsumdolorsi">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisinuli.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisinuli.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                  </div>
                  <div class="bp2-loremipsumdolorsi1">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisinuli.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisinuli.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bp3-sobretablet">
  <div class="bp3-sobrenosgroup-layout-container">
    <div class="bp3-sobrenosgroup">
      <div class="bp3-a1ststacktopsobre">
        <div class="bp3-title">
          <img alt="Image" src="assets/img/sobretablet-rectangle-2.png" class="bp3-rectangle" />
          <div class="bp3-sobren323s">
            SOBRE NÓS
          </div>
          <div class="bp3-prazer">
            prazer :)
          </div>
          <div class="bp3-detailtextabout">
            <div class="bp3-escrevaaquiumtext">
              Escreva aqui um texto bem curto e que seja
            </div>
            <div class="bp3-sucintoebemaprese">
              sucinto e bem apresentativo, mostrando o pra que
            </div>
            <div class="bp3-viemosaquisomosu">
              viemos aqui, somos uma equipe forte e as pessoas
            </div>
            <div class="bp3-quet352macessoanos">
              que têm acesso a nosso site precisa saber disso
            </div>
          </div>
          <img alt="Image" src="assets/img/sobretablet-line@2x.png" class="bp3-line" />
        </div>
        <img alt="Image" src="assets/img/sobretablet-imagem.png" class="bp3-imagem" />
      </div>
      <div class="bp3-stackedgroup2">
        <div class="bp3-stackedgroup3-layout-container">
          <div class="bp3-stackedgroup3">
            <div class="bp3-stackedgroup">
              <div class="bp3-cards">
                <img alt="Image" src="assets/img/sobretablet-rectangle-3@2x.png" class="bp3-rectangle" />
                <div class="bp3-nossahist363ria">
                  NOSSA HISTÓRIA
                </div>
                <div class="bp3-rectangle1">
                </div>
              </div>
              <div class="bp3-caixadetexto">
                <img alt="Image" src="assets/img/sobretablet-dialog-bg.png" class="bp3-dialogbg" />
                <div class="bp3-texto">
                  <div class="bp3-loremipsumdolorsi">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisinuli.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisinuli.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                  </div>
                  <div class="bp3-loremipsumdolorsi1">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisinuli.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisinuli.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bp4-sobremobile">
  <div class="bp4-sobrenosgroup-layout-container">
    <div class="bp4-sobrenosgroup">
      <div class="bp4-a1ststacktopsobre">
        <div class="bp4-title">
          <img alt="Image" src="assets/img/sobremobile-rectangle-2@2x.png" class="bp4-rectangle" />
          <div class="bp4-sobren323s">
            SOBRE NÓS
          </div>
          <div class="bp4-prazer">
            prazer :)
          </div>
          <div class="bp4-detailtextabout">
            <div class="bp4-escrevaaquiumtext">
              Escreva aqui um texto bem curto e que seja
            </div>
            <div class="bp4-sucintoebemaprese">
              sucinto e bem apresentativo, mostrando o pra que
            </div>
            <div class="bp4-viemosaquisomosu">
              viemos aqui, somos uma equipe forte e as pessoas
            </div>
            <div class="bp4-quet352macessoanos">
              que têm acesso a nosso site precisa saber disso
            </div>
          </div>
          <img alt="Image" src="assets/img/sobremobile-line@2x.png" class="bp4-line" />
        </div>
        <img alt="Image" src="assets/img/sobremobile-imagem.png" class="bp4-imagem" />
      </div>
      <div class="bp4-stackedgroup2">
        <div class="bp4-stackedgroup3-layout-container">
          <div class="bp4-stackedgroup3">
            <div class="bp4-stackedgroup">
              <div class="bp4-cards">
                <img alt="Image" src="assets/img/sobremobile-rectangle-3@2x.png" class="bp4-rectangle" />
                <div class="bp4-nossahist363ria">
                  NOSSA HISTÓRIA
                </div>
                <div class="bp4-rectangle1">
                </div>
              </div>
              <div class="bp4-caixadetexto">
                <img alt="Image" src="assets/img/sobremobile-dialog-bg.png" class="bp4-dialogbg" />
                <div class="bp4-texto">
                  <div class="bp4-loremipsumdolorsi">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisinuli.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisinuli.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                  </div>
                  <div class="bp4-loremipsumdolorsi1">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisinuli.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisinuli.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
<app-general-nav></app-general-nav>
