@media screen and (max-width: 767px) {
  .bp4-sobremobile {
    display: block;
  }

  .bp3-sobretablet {
    display: none;
  }

  .bp2-sobrelq {
    display: none;
  }

  .bp1-sobre {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .bp4-sobremobile {
    display: none;
  }

  .bp3-sobretablet {
    display: block;
  }

  .bp2-sobrelq {
    display: none;
  }

  .bp1-sobre {
    display: none;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .bp4-sobremobile {
    display: none;
  }

  .bp3-sobretablet {
    display: none;
  }

  .bp2-sobrelq {
    display: block;
  }

  .bp1-sobre {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .bp4-sobremobile {
    display: none;
  }

  .bp3-sobretablet {
    display: none;
  }

  .bp2-sobrelq {
    display: none;
  }

  .bp1-sobre {
    display: block;
  }
}


.bp1-sobre {
  width: 100%;
  min-width: 1440px;
  height: 100vh;
  min-height: 856px;
  position: absolute;
  overflow: hidden;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 255, 255, 0);
  opacity: 1.0;
}


.bp2-sobrelq {
  width: 100%;
  min-width: 1024px;
  height: 100vh;
  min-height: 808px;
  position: absolute;
  overflow: hidden;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 255, 255, 0);
  opacity: 1.0;
}

.bp3-sobretablet {
  width: 100%;
  min-width: 768px;
  height: 100vh;
  min-height: 1024px;
  position: absolute;
  overflow: hidden;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 255, 255, 0);
  opacity: 1.0;
}

.bp4-sobremobile {
  width: 100%;
  min-width: 556px;
  height: 100vh;
  min-height: 963px;
  position: absolute;
  overflow: hidden;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 255, 255, 0);
  opacity: 1.0;
}


/* bp1 */

.bp1-sobre .bp1-sobrenosgrouppadding {
  background-color: rgba(255, 255, 255, 0.0);
  margin-left: -20px;
  height: 100%;
  width: 1377px;
  margin-right: 20px;
  position: relative;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-sobre .bp1-sobrenosgrouppadding-layout-container {
  pointer-events: none;
  flex-direction: column;
  top: 80px;
  align-items: center;
  height: 719px;
  width: 100%;
  position: absolute;
  margin: 0;
  display: flex;
  left: 0;
}

.bp1-sobre .bp1-sobrenosgrouppadding-layout-container>* {
  pointer-events: auto;
}

.bp1-sobre .bp1-sobrenosgrouppadding .bp1-rectangle {
  background-color: rgba(215, 215, 215, 1.0);
  top: 0px;
  height: 683px;
  box-sizing: border-box;
  width: 1377px;
  position: absolute;
  margin: 0;
  left: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(150, 150, 150, 1.0);
  transform: rotate(0deg);
  opacity: 0.0;
}

.bp1-sobre .bp1-sobrenosgrouppadding .bp1-sobrenosgroup {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.0);
  top: calc(50.00% - 320px);
  height: 650px;
  width: 1229px;
  position: absolute;
  margin: 0;
  left: calc(50.00% - 601px);
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-sobre .bp1-sobrenosgrouppadding .bp1-sobrenosgroup .bp1-a1ststacktopsobre {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  margin: 0;
  flex: 465;
  width: auto;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-sobre .bp1-sobrenosgrouppadding .bp1-sobrenosgroup .bp1-a1ststacktopsobre .bp1-title {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: 393px;
  margin: 0;
  width: 468px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-sobre .bp1-sobrenosgrouppadding .bp1-sobrenosgroup .bp1-a1ststacktopsobre .bp1-title .bp1-rectangle1 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 393px;
  width: 468px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 0.9;
}

.bp1-sobre .bp1-sobrenosgrouppadding .bp1-sobrenosgroup .bp1-a1ststacktopsobre .bp1-title .bp1-sobren323s {
  background-color: rgba(255, 255, 255, 0.0);
  top: 50px;
  height: auto;
  width: 321px;
  position: absolute;
  margin: 0;
  left: 63px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48.0px;
  color: rgba(116, 191, 187, 1.0);
  text-align: left;
  letter-spacing: -0.1px;
  line-height: 34.0px;
}

.bp1-sobre .bp1-sobrenosgrouppadding .bp1-sobrenosgroup .bp1-a1ststacktopsobre .bp1-title .bp1-prazer {
  background-color: rgba(255, 255, 255, 0.0);
  top: 117px;
  height: auto;
  width: 195px;
  position: absolute;
  margin: 0;
  left: 63px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48.0px;
  color: rgba(116, 191, 187, 1.0);
  text-align: left;
  letter-spacing: -0.1px;
  line-height: 57.0px;
}

.bp1-sobre .bp1-sobrenosgrouppadding .bp1-sobrenosgroup .bp1-a1ststacktopsobre .bp1-title .bp1-detailtextabout {
  background-color: rgba(255, 255, 255, 0.0);
  top: 195px;
  height: 116px;
  width: 395px;
  position: absolute;
  margin: 0;
  left: 62px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-sobre .bp1-sobrenosgrouppadding .bp1-sobrenosgroup .bp1-a1ststacktopsobre .bp1-title .bp1-detailtextabout .bp1-escrevaaquiumtext {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: auto;
  width: 394px;
  position: absolute;
  margin: 0;
  left: 1px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: rgba(138, 140, 142, 1.0);
  text-align: left;
  letter-spacing: 0.25px;
  line-height: 19.0px;
}

.bp1-sobre .bp1-sobrenosgrouppadding .bp1-sobrenosgroup .bp1-a1ststacktopsobre .bp1-title .bp1-detailtextabout .bp1-sucintoebemaprese {
  background-color: rgba(255, 255, 255, 0.0);
  top: 32px;
  height: auto;
  width: 394px;
  position: absolute;
  margin: 0;
  left: 1px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: rgba(138, 140, 142, 1.0);
  text-align: left;
  letter-spacing: 0.25px;
  line-height: 19.0px;
}

.bp1-sobre .bp1-sobrenosgrouppadding .bp1-sobrenosgroup .bp1-a1ststacktopsobre .bp1-title .bp1-detailtextabout .bp1-viemosaquisomosu {
  background-color: rgba(255, 255, 255, 0.0);
  top: 64px;
  height: auto;
  width: 394px;
  position: absolute;
  margin: 0;
  left: 1px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: rgba(138, 140, 142, 1.0);
  text-align: left;
  letter-spacing: 0.25px;
  line-height: 19.0px;
}

.bp1-sobre .bp1-sobrenosgrouppadding .bp1-sobrenosgroup .bp1-a1ststacktopsobre .bp1-title .bp1-detailtextabout .bp1-quet352macessoanos {
  background-color: rgba(255, 255, 255, 0.0);
  top: 96px;
  height: auto;
  width: 394px;
  position: absolute;
  margin: 0;
  left: 1px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: rgba(138, 140, 142, 1.0);
  text-align: left;
  letter-spacing: 0.25px;
  line-height: 19.0px;
}

.bp1-sobre .bp1-sobrenosgrouppadding .bp1-sobrenosgroup .bp1-a1ststacktopsobre .bp1-title .bp1-line {
  background-color: rgba(255, 255, 255, 0.0);
  top: 193px;
  height: 120px;
  width: 5px;
  position: absolute;
  margin: 0;
  left: 38px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-sobre .bp1-sobrenosgrouppadding .bp1-sobrenosgroup .bp1-a1ststacktopsobre .bp1-imagem {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: 465px;
  margin: 0 0 0 150px;
  width: 582px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-sobre .bp1-sobrenosgrouppadding .bp1-sobrenosgroup .bp1-stackedgroup2 {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  margin: -135px 0 0 0;
  flex: 372;
  width: 1159px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-sobre .bp1-sobrenosgrouppadding .bp1-sobrenosgroup .bp1-stackedgroup2 .bp1-stackedgroup3 {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: 100%;
  width: 1159px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-sobre .bp1-sobrenosgrouppadding .bp1-sobrenosgroup .bp1-stackedgroup2 .bp1-stackedgroup3-layout-container {
  pointer-events: none;
  flex-direction: column;
  align-items: center;
  bottom: 0px;
  height: 372px;
  width: 100%;
  position: absolute;
  margin: 0;
  display: flex;
  left: 0;
}

.bp1-sobre .bp1-sobrenosgrouppadding .bp1-sobrenosgroup .bp1-stackedgroup2 .bp1-stackedgroup3-layout-container>* {
  pointer-events: auto;
}

.bp1-sobre .bp1-sobrenosgrouppadding .bp1-sobrenosgroup .bp1-stackedgroup2 .bp1-stackedgroup3 .bp1-stackedgroup {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: auto;
  width: 1159px;
  position: relative;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-sobre .bp1-sobrenosgrouppadding .bp1-sobrenosgroup .bp1-stackedgroup2 .bp1-stackedgroup3 .bp1-stackedgroup .bp1-cards {
  background-color: rgba(255, 255, 255, 0.0);
  top: 40px;
  position: relative;
  height: 100px;
  margin: 0;
  width: 240px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-sobre .bp1-sobrenosgrouppadding .bp1-sobrenosgroup .bp1-stackedgroup2 .bp1-stackedgroup3 .bp1-stackedgroup .bp1-cards .bp1-rectangle2 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 91px;
  width: 212px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-sobre .bp1-sobrenosgrouppadding .bp1-sobrenosgroup .bp1-stackedgroup2 .bp1-stackedgroup3 .bp1-stackedgroup .bp1-cards .bp1-nossahist363ria {
  background-color: rgba(255, 255, 255, 0.0);
  top: 30px;
  height: auto;
  width: 163px;
  position: absolute;
  margin: 0;
  left: 38px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Poppins", Helvetica, Arial, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18.0px;
  color: rgba(116, 191, 187, 1.0);
  text-align: left;
  line-height: 27.0px;
}

.bp1-sobre .bp1-sobrenosgrouppadding .bp1-sobrenosgroup .bp1-stackedgroup2 .bp1-stackedgroup3 .bp1-stackedgroup .bp1-cards .bp1-rectangle1 {
  background-color: rgba(116, 191, 187, 1.0);
  top: 35px;
  height: 15px;
  width: 15px;
  position: absolute;
  margin: 0;
  left: 15px;
  border-radius: 7px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-sobre .bp1-sobrenosgrouppadding .bp1-sobrenosgroup .bp1-stackedgroup2 .bp1-stackedgroup3 .bp1-stackedgroup .bp1-caixadetexto {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: 330px;
  margin: -15px 0 0 0;
  width: 1159px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-sobre .bp1-sobrenosgrouppadding .bp1-sobrenosgroup .bp1-stackedgroup2 .bp1-stackedgroup3 .bp1-stackedgroup .bp1-caixadetexto .bp1-dialogbg {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 330px;
  width: 1159px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-sobre .bp1-sobrenosgrouppadding .bp1-sobrenosgroup .bp1-stackedgroup2 .bp1-stackedgroup3 .bp1-stackedgroup .bp1-caixadetexto .bp1-texto {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.0);
  top: 50px;
  height: 192px;
  width: auto;
  position: absolute;
  margin: 0;
  left: 84px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp1-sobre .bp1-sobrenosgrouppadding .bp1-sobrenosgroup .bp1-stackedgroup2 .bp1-stackedgroup3 .bp1-stackedgroup .bp1-caixadetexto .bp1-texto .bp1-loremipsumdolorsi {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: auto;
  margin: 0;
  width: 483px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: rgba(0, 0, 0, 0.54);
  text-align: justify;
  line-height: 24.0px;
}

.bp1-sobre .bp1-sobrenosgrouppadding .bp1-sobrenosgroup .bp1-stackedgroup2 .bp1-stackedgroup3 .bp1-stackedgroup .bp1-caixadetexto .bp1-texto .bp1-loremipsumdolorsi1 {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: auto;
  margin: 0 0 0 60px;
  width: 449px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: rgba(0, 0, 0, 0.54);
  text-align: justify;
  line-height: 24.0px;
}

/* bp2 */

.bp2-sobrelq .bp2-sobrenosgroup {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: auto;
  width: 1044px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp2-sobrelq .bp2-sobrenosgroup-layout-container {
  pointer-events: none;
  flex-direction: column;
  top: 120px;
  align-items: center;
  height: auto;
  width: 100%;
  position: absolute;
  margin: 0;
  display: flex;
  left: 0;
}

.bp2-sobrelq .bp2-sobrenosgroup-layout-container>* {
  pointer-events: auto;
}

.bp2-sobrelq .bp2-sobrenosgroup .bp2-a1ststacktopsobre {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: 376px;
  margin: 0;
  width: auto;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp2-sobrelq .bp2-sobrenosgroup .bp2-a1ststacktopsobre .bp2-title {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: 316px;
  margin: 0;
  width: 397px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp2-sobrelq .bp2-sobrenosgroup .bp2-a1ststacktopsobre .bp2-title .bp2-rectangle {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 316px;
  width: 397px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 0.9;
}

.bp2-sobrelq .bp2-sobrenosgroup .bp2-a1ststacktopsobre .bp2-title .bp2-sobren323s {
  background-color: rgba(255, 255, 255, 0.0);
  top: 22px;
  height: auto;
  width: 315px;
  position: absolute;
  margin: 0;
  left: 54px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48.0px;
  color: rgba(116, 191, 187, 1.0);
  text-align: left;
  letter-spacing: -0.1px;
  line-height: 34.0px;
}

.bp2-sobrelq .bp2-sobrenosgroup .bp2-a1ststacktopsobre .bp2-title .bp2-prazer {
  background-color: rgba(255, 255, 255, 0.0);
  top: 84px;
  height: auto;
  width: 315px;
  position: absolute;
  margin: 0;
  left: 53px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48.0px;
  color: rgba(116, 191, 187, 1.0);
  text-align: left;
  letter-spacing: -0.1px;
  line-height: 57.0px;
}

.bp2-sobrelq .bp2-sobrenosgroup .bp2-a1ststacktopsobre .bp2-title .bp2-detailtextabout {
  background-color: rgba(255, 255, 255, 0.0);
  top: 157px;
  height: 91px;
  width: 317px;
  position: absolute;
  margin: 0;
  left: 52px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp2-sobrelq .bp2-sobrenosgroup .bp2-a1ststacktopsobre .bp2-title .bp2-detailtextabout .bp2-escrevaaquiumtext {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: auto;
  width: 317px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12.0px;
  color: rgba(138, 140, 142, 1.0);
  text-align: left;
  letter-spacing: 0.19px;
  line-height: 14.0px;
}

.bp2-sobrelq .bp2-sobrenosgroup .bp2-a1ststacktopsobre .bp2-title .bp2-detailtextabout .bp2-sucintoebemaprese {
  background-color: rgba(255, 255, 255, 0.0);
  top: 26px;
  height: auto;
  width: 317px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12.0px;
  color: rgba(138, 140, 142, 1.0);
  text-align: left;
  letter-spacing: 0.19px;
  line-height: 14.0px;
}

.bp2-sobrelq .bp2-sobrenosgroup .bp2-a1ststacktopsobre .bp2-title .bp2-detailtextabout .bp2-viemosaquisomosu {
  background-color: rgba(255, 255, 255, 0.0);
  top: 49px;
  height: auto;
  width: 317px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12.0px;
  color: rgba(138, 140, 142, 1.0);
  text-align: left;
  letter-spacing: 0.19px;
  line-height: 14.0px;
}

.bp2-sobrelq .bp2-sobrenosgroup .bp2-a1ststacktopsobre .bp2-title .bp2-detailtextabout .bp2-quet352macessoanos {
  background-color: rgba(255, 255, 255, 0.0);
  top: 76px;
  height: auto;
  width: 317px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12.0px;
  color: rgba(138, 140, 142, 1.0);
  text-align: left;
  letter-spacing: 0.19px;
  line-height: 14.0px;
}

.bp2-sobrelq .bp2-sobrenosgroup .bp2-a1ststacktopsobre .bp2-title .bp2-line {
  background-color: rgba(255, 255, 255, 0.0);
  top: 152px;
  height: 97px;
  width: 5px;
  position: absolute;
  margin: 0;
  left: 33px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp2-sobrelq .bp2-sobrenosgroup .bp2-a1ststacktopsobre .bp2-imagem {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  top: 40px;
  height: 376px;
  margin: 0 0 0 175px;
  width: 443px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp2-sobrelq .bp2-sobrenosgroup .bp2-stackedgroup2 {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: 349px;
  margin: -110px 0 0 0;
  width: 1044px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp2-sobrelq .bp2-sobrenosgroup .bp2-stackedgroup2 .bp2-stackedgroup3 {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: 100%;
  width: 1044px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp2-sobrelq .bp2-sobrenosgroup .bp2-stackedgroup2 .bp2-stackedgroup3-layout-container {
  pointer-events: none;
  flex-direction: column;
  align-items: center;
  bottom: 0px;
  height: 349px;
  width: 100%;
  position: absolute;
  margin: 0;
  display: flex;
  left: 0;
}

.bp2-sobrelq .bp2-sobrenosgroup .bp2-stackedgroup2 .bp2-stackedgroup3-layout-container>* {
  pointer-events: auto;
}

.bp2-sobrelq .bp2-sobrenosgroup .bp2-stackedgroup2 .bp2-stackedgroup3 .bp2-stackedgroup {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: auto;
  width: 1044px;
  position: relative;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp2-sobrelq .bp2-sobrenosgroup .bp2-stackedgroup2 .bp2-stackedgroup3 .bp2-stackedgroup .bp2-cards {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  top: 25px;
  height: 91px;
  margin: 0;
  width: 191px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp2-sobrelq .bp2-sobrenosgroup .bp2-stackedgroup2 .bp2-stackedgroup3 .bp2-stackedgroup .bp2-cards .bp2-rectangle {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 91px;
  width: 191px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp2-sobrelq .bp2-sobrenosgroup .bp2-stackedgroup2 .bp2-stackedgroup3 .bp2-stackedgroup .bp2-cards .bp2-nossahist363ria {
  background-color: rgba(255, 255, 255, 0.0);
  top: 30px;
  height: auto;
  width: 145px;
  position: absolute;
  margin: 0;
  left: 35px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Poppins", Helvetica, Arial, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16.0px;
  color: rgba(116, 191, 187, 1.0);
  text-align: left;
  line-height: 25.0px;
}

.bp2-sobrelq .bp2-sobrenosgroup .bp2-stackedgroup2 .bp2-stackedgroup3 .bp2-stackedgroup .bp2-cards .bp2-rectangle1 {
  background-color: rgba(116, 191, 187, 1.0);
  top: 37px;
  height: 10px;
  width: 10px;
  position: absolute;
  margin: 0;
  left: 13px;
  border-radius: 5px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp2-sobrelq .bp2-sobrenosgroup .bp2-stackedgroup2 .bp2-stackedgroup3 .bp2-stackedgroup .bp2-caixadetexto {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: 306px;
  margin: -15px 0 0 0;
  width: 1044px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp2-sobrelq .bp2-sobrenosgroup .bp2-stackedgroup2 .bp2-stackedgroup3 .bp2-stackedgroup .bp2-caixadetexto .bp2-dialogbg {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 306px;
  width: 1044px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp2-sobrelq .bp2-sobrenosgroup .bp2-stackedgroup2 .bp2-stackedgroup3 .bp2-stackedgroup .bp2-caixadetexto .bp2-texto {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.0);
  top: 51px;
  height: 168px;
  width: auto;
  position: absolute;
  margin: 0;
  left: 84px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp2-sobrelq .bp2-sobrenosgroup .bp2-stackedgroup2 .bp2-stackedgroup3 .bp2-stackedgroup .bp2-caixadetexto .bp2-texto .bp2-loremipsumdolorsi {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: auto;
  margin: 0;
  width: 426px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12.0px;
  color: rgba(0, 0, 0, 0.54);
  text-align: justify;
  line-height: 24.0px;
}

.bp2-sobrelq .bp2-sobrenosgroup .bp2-stackedgroup2 .bp2-stackedgroup3 .bp2-stackedgroup .bp2-caixadetexto .bp2-texto .bp2-loremipsumdolorsi1 {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: auto;
  margin: 0 0 0 60px;
  width: 391px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12.0px;
  color: rgba(0, 0, 0, 0.54);
  text-align: justify;
  line-height: 24.0px;
}

/* bp3 */

.bp3-sobretablet .bp3-sobrenosgroup {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: auto;
  width: 789px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp3-sobretablet .bp3-sobrenosgroup-layout-container {
  pointer-events: none;
  flex-direction: column;
  top: 180px;
  align-items: center;
  height: auto;
  width: 100%;
  position: absolute;
  margin: 0;
  display: flex;
  left: 0;
}

.bp3-sobretablet .bp3-sobrenosgroup-layout-container>* {
  pointer-events: auto;
}

.bp3-sobretablet .bp3-sobrenosgroup .bp3-a1ststacktopsobre {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: 372px;
  margin: 0;
  width: auto;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp3-sobretablet .bp3-sobrenosgroup .bp3-a1ststacktopsobre .bp3-title {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: 316px;
  margin: 0;
  width: 379px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp3-sobretablet .bp3-sobrenosgroup .bp3-a1ststacktopsobre .bp3-title .bp3-rectangle {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 316px;
  width: 379px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 0.9;
}

.bp3-sobretablet .bp3-sobrenosgroup .bp3-a1ststacktopsobre .bp3-title .bp3-sobren323s {
  background-color: rgba(255, 255, 255, 0.0);
  top: 30px;
  height: auto;
  width: 300px;
  position: absolute;
  margin: 0;
  left: 52px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48.0px;
  color: rgba(116, 191, 187, 1.0);
  text-align: left;
  letter-spacing: -0.1px;
  line-height: 34.0px;
}

.bp3-sobretablet .bp3-sobrenosgroup .bp3-a1ststacktopsobre .bp3-title .bp3-prazer {
  background-color: rgba(255, 255, 255, 0.0);
  top: 80px;
  height: auto;
  width: 300px;
  position: absolute;
  margin: 0;
  left: 51px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48.0px;
  color: rgba(116, 191, 187, 1.0);
  text-align: left;
  letter-spacing: -0.1px;
  line-height: 57.0px;
}

.bp3-sobretablet .bp3-sobrenosgroup .bp3-a1ststacktopsobre .bp3-title .bp3-detailtextabout {
  background-color: rgba(255, 255, 255, 0.0);
  top: 157px;
  height: 91px;
  width: 302px;
  position: absolute;
  margin: 0;
  left: 50px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp3-sobretablet .bp3-sobrenosgroup .bp3-a1ststacktopsobre .bp3-title .bp3-detailtextabout .bp3-escrevaaquiumtext {
  background-color: rgba(255, 255, 255, 0.0);
  top: 1px;
  height: auto;
  width: 301px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12.0px;
  color: rgba(138, 140, 142, 1.0);
  text-align: left;
  letter-spacing: 0.19px;
  line-height: 14.0px;
}

.bp3-sobretablet .bp3-sobrenosgroup .bp3-a1ststacktopsobre .bp3-title .bp3-detailtextabout .bp3-sucintoebemaprese {
  background-color: rgba(255, 255, 255, 0.0);
  top: 26px;
  height: auto;
  width: 301px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12.0px;
  color: rgba(138, 140, 142, 1.0);
  text-align: left;
  letter-spacing: 0.19px;
  line-height: 14.0px;
}

.bp3-sobretablet .bp3-sobrenosgroup .bp3-a1ststacktopsobre .bp3-title .bp3-detailtextabout .bp3-viemosaquisomosu {
  background-color: rgba(255, 255, 255, 0.0);
  top: 49px;
  height: auto;
  width: 301px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12.0px;
  color: rgba(138, 140, 142, 1.0);
  text-align: left;
  letter-spacing: 0.19px;
  line-height: 14.0px;
}

.bp3-sobretablet .bp3-sobrenosgroup .bp3-a1ststacktopsobre .bp3-title .bp3-detailtextabout .bp3-quet352macessoanos {
  background-color: rgba(255, 255, 255, 0.0);
  top: 76px;
  height: auto;
  width: 301px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12.0px;
  color: rgba(138, 140, 142, 1.0);
  text-align: left;
  letter-spacing: 0.19px;
  line-height: 14.0px;
}

.bp3-sobretablet .bp3-sobrenosgroup .bp3-a1ststacktopsobre .bp3-title .bp3-line {
  background-color: rgba(255, 255, 255, 0.0);
  top: 152px;
  height: 96px;
  width: 6px;
  position: absolute;
  margin: 0;
  left: 31px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp3-sobretablet .bp3-sobrenosgroup .bp3-a1ststacktopsobre .bp3-imagem {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  top: 50px;
  height: 372px;
  margin: 0 0 0 -55px;
  width: 439px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp3-sobretablet .bp3-sobrenosgroup .bp3-stackedgroup2 {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: 421px;
  margin: -105px 0 0 0;
  width: 789px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp3-sobretablet .bp3-sobrenosgroup .bp3-stackedgroup2 .bp3-stackedgroup3 {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: 100%;
  width: 789px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp3-sobretablet .bp3-sobrenosgroup .bp3-stackedgroup2 .bp3-stackedgroup3-layout-container {
  pointer-events: none;
  flex-direction: column;
  align-items: center;
  bottom: 0px;
  height: 421px;
  width: 100%;
  position: absolute;
  margin: 0;
  display: flex;
  left: 0;
}

.bp3-sobretablet .bp3-sobrenosgroup .bp3-stackedgroup2 .bp3-stackedgroup3-layout-container>* {
  pointer-events: auto;
}

.bp3-sobretablet .bp3-sobrenosgroup .bp3-stackedgroup2 .bp3-stackedgroup3 .bp3-stackedgroup {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: auto;
  width: 760px;
  position: relative;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp3-sobretablet .bp3-sobrenosgroup .bp3-stackedgroup2 .bp3-stackedgroup3 .bp3-stackedgroup .bp3-cards {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  top: 20px;
  height: 91px;
  margin: 0;
  width: 186px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp3-sobretablet .bp3-sobrenosgroup .bp3-stackedgroup2 .bp3-stackedgroup3 .bp3-stackedgroup .bp3-cards .bp3-rectangle {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 91px;
  width: 186px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp3-sobretablet .bp3-sobrenosgroup .bp3-stackedgroup2 .bp3-stackedgroup3 .bp3-stackedgroup .bp3-cards .bp3-nossahist363ria {
  background-color: rgba(255, 255, 255, 0.0);
  top: 30px;
  height: auto;
  width: 146px;
  position: absolute;
  margin: 0;
  left: 29px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Poppins", Helvetica, Arial, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16.0px;
  color: rgba(116, 191, 187, 1.0);
  text-align: left;
  line-height: 25.0px;
}

.bp3-sobretablet .bp3-sobrenosgroup .bp3-stackedgroup2 .bp3-stackedgroup3 .bp3-stackedgroup .bp3-cards .bp3-rectangle1 {
  background-color: rgba(116, 191, 187, 1.0);
  top: 37px;
  height: 10px;
  width: 10px;
  position: absolute;
  margin: 0;
  left: 13px;
  border-radius: 5px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp3-sobretablet .bp3-sobrenosgroup .bp3-stackedgroup2 .bp3-stackedgroup3 .bp3-stackedgroup .bp3-caixadetexto {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: 378px;
  margin: -15px 0 0 0;
  width: 789px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp3-sobretablet .bp3-sobrenosgroup .bp3-stackedgroup2 .bp3-stackedgroup3 .bp3-stackedgroup .bp3-caixadetexto .bp3-dialogbg {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 378px;
  width: 789px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp3-sobretablet .bp3-sobrenosgroup .bp3-stackedgroup2 .bp3-stackedgroup3 .bp3-stackedgroup .bp3-caixadetexto .bp3-texto {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.0);
  top: 51px;
  height: 240px;
  width: auto;
  position: absolute;
  margin: 0;
  left: 83px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp3-sobretablet .bp3-sobrenosgroup .bp3-stackedgroup2 .bp3-stackedgroup3 .bp3-stackedgroup .bp3-caixadetexto .bp3-texto .bp3-loremipsumdolorsi {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: auto;
  margin: 0;
  width: 295px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12.0px;
  color: rgba(0, 0, 0, 0.54);
  text-align: justify;
  line-height: 24.0px;
}

.bp3-sobretablet .bp3-sobrenosgroup .bp3-stackedgroup2 .bp3-stackedgroup3 .bp3-stackedgroup .bp3-caixadetexto .bp3-texto .bp3-loremipsumdolorsi1 {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: auto;
  margin: 0 0 0 60px;
  width: 267px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12.0px;
  color: rgba(0, 0, 0, 0.54);
  text-align: justify;
  line-height: 24.0px;
}


/* bp4 */


.bp4-sobremobile .bp4-sobrenosgroup {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: auto;
  width: 582px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp4-sobremobile .bp4-sobrenosgroup-layout-container {
  pointer-events: none;
  flex-direction: column;
  top: 140px;
  align-items: center;
  height: auto;
  width: 100%;
  position: absolute;
  margin: 0;
  display: flex;
  left: 0;
}

.bp4-sobremobile .bp4-sobrenosgroup-layout-container>* {
  pointer-events: auto;
}

.bp4-sobremobile .bp4-sobrenosgroup .bp4-a1ststacktopsobre {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: 351px;
  margin: 0;
  width: auto;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp4-sobremobile .bp4-sobrenosgroup .bp4-a1ststacktopsobre .bp4-title {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: 275px;
  margin: 0;
  width: 301px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp4-sobremobile .bp4-sobrenosgroup .bp4-a1ststacktopsobre .bp4-title .bp4-rectangle {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 275px;
  width: 301px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 0.9;
}

.bp4-sobremobile .bp4-sobrenosgroup .bp4-a1ststacktopsobre .bp4-title .bp4-sobren323s {
  background-color: rgba(255, 255, 255, 0.0);
  top: 24px;
  height: auto;
  width: 252px;
  position: absolute;
  margin: 0;
  left: 39px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 42.0px;
  color: rgba(116, 191, 187, 1.0);
  text-align: left;
  letter-spacing: -0.09px;
  line-height: 34.0px;
}

.bp4-sobremobile .bp4-sobrenosgroup .bp4-a1ststacktopsobre .bp4-title .bp4-prazer {
  background-color: rgba(255, 255, 255, 0.0);
  top: 72px;
  height: auto;
  width: 203px;
  position: absolute;
  margin: 0;
  left: 38px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 42.0px;
  color: rgba(116, 191, 187, 1.0);
  text-align: left;
  letter-spacing: -0.09px;
  line-height: 49.0px;
}

.bp4-sobremobile .bp4-sobrenosgroup .bp4-a1ststacktopsobre .bp4-title .bp4-detailtextabout {
  background-color: rgba(255, 255, 255, 0.0);
  top: 139px;
  height: 86px;
  width: 253px;
  position: absolute;
  margin: 0;
  left: 37px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp4-sobremobile .bp4-sobrenosgroup .bp4-a1ststacktopsobre .bp4-title .bp4-detailtextabout .bp4-escrevaaquiumtext {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: auto;
  width: 252px;
  position: absolute;
  margin: 0;
  left: 1px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10.0px;
  color: rgba(138, 140, 142, 1.0);
  text-align: left;
  letter-spacing: 0.16px;
  line-height: 11.0px;
}

.bp4-sobremobile .bp4-sobrenosgroup .bp4-a1ststacktopsobre .bp4-title .bp4-detailtextabout .bp4-sucintoebemaprese {
  background-color: rgba(255, 255, 255, 0.0);
  top: 25px;
  height: auto;
  width: 252px;
  position: absolute;
  margin: 0;
  left: 1px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10.0px;
  color: rgba(138, 140, 142, 1.0);
  text-align: left;
  letter-spacing: 0.16px;
  line-height: 11.0px;
}

.bp4-sobremobile .bp4-sobrenosgroup .bp4-a1ststacktopsobre .bp4-title .bp4-detailtextabout .bp4-viemosaquisomosu {
  background-color: rgba(255, 255, 255, 0.0);
  top: 48px;
  height: auto;
  width: 252px;
  position: absolute;
  margin: 0;
  left: 1px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10.0px;
  color: rgba(138, 140, 142, 1.0);
  text-align: left;
  letter-spacing: 0.16px;
  line-height: 11.0px;
}

.bp4-sobremobile .bp4-sobrenosgroup .bp4-a1ststacktopsobre .bp4-title .bp4-detailtextabout .bp4-quet352macessoanos {
  background-color: rgba(255, 255, 255, 0.0);
  top: 75px;
  height: auto;
  width: 252px;
  position: absolute;
  margin: 0;
  left: 1px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10.0px;
  color: rgba(138, 140, 142, 1.0);
  text-align: left;
  letter-spacing: 0.16px;
  line-height: 11.0px;
}

.bp4-sobremobile .bp4-sobrenosgroup .bp4-a1ststacktopsobre .bp4-title .bp4-line {
  background-color: rgba(255, 255, 255, 0.0);
  top: 132px;
  height: 96px;
  width: 5px;
  position: absolute;
  margin: 0;
  left: 24px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp4-sobremobile .bp4-sobrenosgroup .bp4-a1ststacktopsobre .bp4-imagem {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  top: 70px;
  left: 70px;
  height: 351px;
  margin: 0 0 0 -150px;
  width: 413px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp4-sobremobile .bp4-sobrenosgroup .bp4-stackedgroup2 {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: 476px;
  margin: -100px 0 0 0;
  width: 582px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp4-sobremobile .bp4-sobrenosgroup .bp4-stackedgroup2 .bp4-stackedgroup3 {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: 100%;
  width: 582px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp4-sobremobile .bp4-sobrenosgroup .bp4-stackedgroup2 .bp4-stackedgroup3-layout-container {
  pointer-events: none;
  flex-direction: column;
  align-items: center;
  bottom: 0px;
  height: 476px;
  width: 100%;
  position: absolute;
  margin: 0;
  display: flex;
  left: 0;
}

.bp4-sobremobile .bp4-sobrenosgroup .bp4-stackedgroup2 .bp4-stackedgroup3-layout-container>* {
  pointer-events: auto;
}

.bp4-sobremobile .bp4-sobrenosgroup .bp4-stackedgroup2 .bp4-stackedgroup3 .bp4-stackedgroup {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: auto;
  width: 582px;
  position: relative;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp4-sobremobile .bp4-sobrenosgroup .bp4-stackedgroup2 .bp4-stackedgroup3 .bp4-stackedgroup .bp4-cards {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  top: 20px;
  height: 91px;
  margin: 0;
  width: 182px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp4-sobremobile .bp4-sobrenosgroup .bp4-stackedgroup2 .bp4-stackedgroup3 .bp4-stackedgroup .bp4-cards .bp4-rectangle {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 91px;
  width: 182px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp4-sobremobile .bp4-sobrenosgroup .bp4-stackedgroup2 .bp4-stackedgroup3 .bp4-stackedgroup .bp4-cards .bp4-nossahist363ria {
  background-color: rgba(255, 255, 255, 0.0);
  top: 30px;
  height: auto;
  width: 139px;
  position: absolute;
  margin: 0;
  left: 32px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Poppins", Helvetica, Arial, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16.0px;
  color: rgba(116, 191, 187, 1.0);
  text-align: left;
  line-height: 25.0px;
}

.bp4-sobremobile .bp4-sobrenosgroup .bp4-stackedgroup2 .bp4-stackedgroup3 .bp4-stackedgroup .bp4-cards .bp4-rectangle1 {
  background-color: rgba(116, 191, 187, 1.0);
  top: 37px;
  height: 10px;
  width: 10px;
  position: absolute;
  margin: 0;
  left: 13px;
  border-radius: 5px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp4-sobremobile .bp4-sobrenosgroup .bp4-stackedgroup2 .bp4-stackedgroup3 .bp4-stackedgroup .bp4-caixadetexto {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: 423px;
  margin: -5px 0 0 0;
  width: 582px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp4-sobremobile .bp4-sobrenosgroup .bp4-stackedgroup2 .bp4-stackedgroup3 .bp4-stackedgroup .bp4-caixadetexto .bp4-dialogbg {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: 423px;
  width: 582px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp4-sobremobile .bp4-sobrenosgroup .bp4-stackedgroup2 .bp4-stackedgroup3 .bp4-stackedgroup .bp4-caixadetexto .bp4-texto {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.0);
  top: 43px;
  height: 312px;
  width: auto;
  position: absolute;
  margin: 0;
  left: 83px;
  transform: rotate(0deg);
  opacity: 1.0;
}

.bp4-sobremobile .bp4-sobrenosgroup .bp4-stackedgroup2 .bp4-stackedgroup3 .bp4-stackedgroup .bp4-caixadetexto .bp4-texto .bp4-loremipsumdolorsi {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: auto;
  margin: 0;
  width: 192px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10.0px;
  color: rgba(0, 0, 0, 0.54);
  text-align: justify;
  line-height: 24.0px;
}

.bp4-sobremobile .bp4-sobrenosgroup .bp4-stackedgroup2 .bp4-stackedgroup3 .bp4-stackedgroup .bp4-caixadetexto .bp4-texto .bp4-loremipsumdolorsi1 {
  background-color: rgba(255, 255, 255, 0.0);
  position: relative;
  height: auto;
  margin: 0 0 0 40px;
  width: 183px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10.0px;
  color: rgba(0, 0, 0, 0.54);
  text-align: justify;
  line-height: 24.0px;
}
