<app-general-bg></app-general-bg>
<!--
<app-navbar></app-navbar> -->
<div class="bp1-index">
  <div class="homecontainer">
    <div class="oqvamoscriar">
      <app-left-index></app-left-index>
    </div>
    <div class="animaservs">
      <mat-list-item>
        <app-animaserv></app-animaserv>
      </mat-list-item>
    </div>
  </div>
</div>

<div class="bp2-homemobile">
  <div class="homecontainer">
    <div class="oqvamoscriar">
      <app-left-index></app-left-index>
    </div>
    <div class="animaservs">
      <mat-list-item>
        <app-animaserv></app-animaserv>
      </mat-list-item>
    </div>
  </div>
</div>

<div class="bp3-hometablet">
  <div class="homecontainer">
    <div class="oqvamoscriar">
      <app-left-index></app-left-index>
    </div>
    <div class="animaservs">
      <app-animaserv></app-animaserv>
    </div>
  </div>
</div>

<div class="bp4-homelq">
  <div class="homecontainer">
    <div class="oqvamoscriar">
      <app-left-index></app-left-index>
    </div>
    <div class="animaservs">
      <mat-list-item>
        <app-animaserv></app-animaserv>
      </mat-list-item>
    </div>
  </div>
</div>
<app-footer></app-footer>
<app-general-nav></app-general-nav>
