<div class="bp1-index">
  <div class="backgroundsobre">

    <img alt="Image" src="assets/svg/wave.svg" class="wave" />

    <img alt="Image" src="assets/svg/wave copy.svg" class="wavecopy">
  </div>
</div>

<div class="bp2-homemobile">
  <div class="backgroundsobre">

    <img alt="Image" src="assets/svg/wave.svg" class="wave" />

    <img alt="Image" src="assets/svg/wave copy.svg" class="wavecopy">
  </div>
</div>

<div class="bp3-hometablet">
  <div class="backgroundsobre">

    <img alt="Image" src="assets/svg/wave.svg" class="wave" />

    <img alt="Image" src="assets/svg/wave copy.svg" class="wavecopy">
  </div>
</div>

<div class="bp4-homelq">
  <div class="backgroundsobre">

    <img alt="Image" src="assets/svg/wave.svg" class="wave" />

    <img alt="Image" src="assets/svg/wave copy.svg" class="wavecopy">
  </div>
</div>
