/* @media screen and (max-width: 767px) {
  .bp2-homemobile {
    display: block;
  }

  .bp3-hometablet {
    display: none;
  }

  .bp4-homelq {
    display: none;
  }

  .bp1-index {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .bp2-homemobile {
    display: none;
  }

  .bp3-hometablet {
    display: block;
  }

  .bp4-homelq {
    display: none;
  }

  .bp1-index {
    display: none;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .bp2-homemobile {
    display: none;
  }

  .bp3-hometablet {
    display: none;
  }

  .bp4-homelq {
    display: block;
  }

  .bp1-index {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .bp2-homemobile {
    display: none;
  }

  .bp3-hometablet {
    display: none;
  }

  .bp4-homelq {
    display: none;
  }

  .bp1-index {
    display: block;
  }
}


.bp1-index {
  width: 100%;
  min-width: 1440px;
  height: 100vh;
  min-height: 856px;
  position: absolute;
  overflow: hidden;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 255, 255, 0);
  opacity: 1.0;
}

.bp2-homemobile {
  width: 100%;
  min-width: 556px;
  height: 100vh;
  min-height: 963px;
  position: absolute;
  overflow: hidden;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 255, 255, 0);
  opacity: 1.0;
}


.bp3-hometablet {
  width: 100%;
  min-width: 768px;
  height: auto;
  min-height: 1484px;
  position: absolute;
  overflow: hidden;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 255, 255, 0);
  opacity: 1.0;
}

.bp4-homelq {
  width: 100%;
  min-width: 1024px;
  height: 100vh;
  min-height: 695px;
  position: absolute;
  overflow: hidden;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 255, 255, 0);
  opacity: 1.0;
}


 */



.bp1-index .backgroundsobre {
  position: absolute;
  width: 100%;
  height: 100vh;
  /* border: solid 1px #979797; */
  /* background-color: hsl(0, 0%, 85%); */

  right: 0px;
  left: 0px;
}

.bp1-index .backgroundsobre .wave {
  position: absolute;
  width: 100%;
  height: auto;
  background-image: linear-gradient(to top, #2e3243 11%, var(--blue-with-a-hint-of-purple) 11%);
}

.bp1-index .backgroundsobre .wavecopy {
  position: absolute;
  width: 1100px;
  height: auto;
  right: 0px;
  opacity: 0.3;
  /* box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.1); */
  /* background-color: var(--blue-with-a-hint-of-purple); */
}





.bp2-homemobile .backgroundsobre {
  position: absolute;
  width: 100%;
  height: auto;
  /* border: solid 1px #979797; */
  /* background-color: hsl(0, 0%, 85%); */

  right: 0px;
  left: 0px;
}

.bp2-homemobile .backgroundsobre .wave {
  position: absolute;
  width: 480%;
  left: -20px;
  top: -40px;
  height: auto;
  background-image: linear-gradient(to top, #2e3243 11%, var(--blue-with-a-hint-of-purple) 11%);
}

.bp2-homemobile .backgroundsobre .wavecopy {
  position: absolute;
  width: 1800px;
  left: -580px;
  top: -280px;
  height: auto;
  right: 0px;
  opacity: 0.3;
  /* box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.1); */
  /* background-color: var(--blue-with-a-hint-of-purple); */
}




.bp3-hometablet .backgroundsobre {
  position: absolute;
  width: 100%;
  height: auto;

  right: 0px;
  left: 0px;
}

.bp3-hometablet .backgroundsobre .wave {
  position: absolute;
  bottom: -40px;
  top: 0px;
  left: -30%;
  width: 180%;
  height: 1984px;
  background-image: linear-gradient(to top, #2e3243 11%, var(--blue-with-a-hint-of-purple) 11%);
}

.bp3-hometablet .backgroundsobre .wavecopy {
  position: absolute;
  top: -130px;
  width: 2080px;
  height: auto;
  right: -650px;
  opacity: 0.3;
  /* box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.1); */
  background-color: var(--blue-with-a-hint-of-purple);
}



.bp4-homelq .backgroundsobre {
  position: absolute;
  width: 100%;
  height: auto;
  /* border: solid 1px #979797; */
  /* background-color: hsl(0, 0%, 85%); */

  right: 0px;
  left: 0px;
}

.bp4-homelq .backgroundsobre .wave {
  position: absolute;
  top: -210px;
  width: 210%;
  left: -5%;
  height: auto;
  background-image: linear-gradient(to top, #2e3243 11%, var(--blue-with-a-hint-of-purple) 11%);
}

.bp4-homelq .backgroundsobre .wavecopy {
  position: absolute;
  width: 1440px;
  left: 480px;
  height: auto;
  right: 0px;
  opacity: 0.3;
  /* box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.1); */
  /* background-color: var(--blue-with-a-hint-of-purple); */
}
