<app-general-bg></app-general-bg>
<app-implement-bg></app-implement-bg>
<div class="container" *ngIf="this.keyOk === false">
  <app-bglogin></app-bglogin>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Insira aqui a sua chave de acesso:</h5>
        <p class="card-text">É um prazer ter você aqui, insira a chave de acesso que te fornecemos para começar na
          plataforma Criadores</p>
      </div>
      <input #keyPass class="form-control" type="text" name="">
      <button (click)="clickKey(keyPass.value)" class="button" mat-mini-fab>
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
<app-criador-entrar *ngIf="this.keyOk === true"></app-criador-entrar>
<app-general-nav></app-general-nav>
<app-footer></app-footer>
