<app-implement-bg></app-implement-bg>
<div class="bp1-cadastro">
  <div class="bp1-cadastrostackgroup">
    <div class="bp1-plantas  ">
      <img alt="Image" src="  ./../../../../assets/img/cadastro-path-3@2x.png" class="bp1-path" />
      <img alt="Image" src="  ./../../../../assets/img/cadastro-path-4.png" class="bp1-path1" />
      <img alt="Image" src="  ./../../../../assets/img/cadastro-path-5@2x.png" class="bp1-path2" />
      <img alt="Image" src="  ./../../../../assets/img/cadastro-path-6@2x.png" class="bp1-path3" />
      <img alt="Image" src="  ./../../../../assets/img/cadastro-path-7@2x.png" class="bp1-path4" />
      <img alt="Image" src="  ./../../../../assets/img/cadastro-path-8@2x.png" class="bp1-path5" />
      <img alt="Image" src="  ./../../../../assets/img/cadastro-path-9@2x.png" class="bp1-path6" />
      <img alt="Image" src="  ./../../../../assets/img/cadastro-path-10@2x.png" class="bp1-path7" />
      <img alt="Image" src="  ./../../../../assets/img/cadastro-path-11@2x.png" class="bp1-path8" />
      <img alt="Image" src="  ./../../../../assets/img/cadastro-path-12@2x.png" class="bp1-path9" />
      <img alt="Image" src="  ./../../../../assets/img/cadastro-path-13@2x.png" class="bp1-path10" />
      <img alt="Image" src="  ./../../../../assets/img/cadastro-path-14@2x.png" class="bp1-path11" />
      <img alt="Image" src="  ./../../../../assets/img/cadastro-path-15@2x.png" class="bp1-path12" />
      <img alt="Image" src="  ./../../../../assets/img/cadastro-path-16@2x.png" class="bp1-path13" />
      <img alt="Image" src="  ./../../../../assets/img/cadastro-path-17@2x.png" class="bp1-path14" />
      <img alt="Image" src="  ./../../../../assets/img/cadastro-path-18@2x.png" class="bp1-path15" />
      <img alt="Image" src="  ./../../../../assets/img/cadastro-path-19@2x.png" class="bp1-path16" />
      <img alt="Image" src="  ./../../../../assets/img/cadastro-path-20@2x.png" class="bp1-path17" />
      <img alt="Image" src="  ./../../../../assets/img/cadastro-path-21@2x.png" class="bp1-path18" />
      <img alt="Image" src="  ./../../../../assets/img/cadastro-path-22@2x.png" class="bp1-path19" />
      <img alt="Image" src="  ./../../../../assets/img/cadastro-path-23@2x.png" class="bp1-path20" />
      <img alt="Image" src="  ./../../../../assets/img/cadastro-path-24@2x.png" class="bp1-path21" />
      <img alt="Image" src="  ./../../../../assets/img/cadastro-path-25@2x.png" class="bp1-path22" />
      <img alt="Image" src="  ./../../../../assets/img/cadastro-path-29@2x.png" class="bp1-path23" />
      <img alt="Image" src="  ./../../../../assets/img/galho.svg" class="bp1-path24" />
    </div>
    <div class="bp1-cadastrogrupowidget">
      <div class="bp1-pontilhado">
        <img alt="Image" src="  ./../../../../assets/img/cadastro-path-28@2x.png" class="bp1-path" />
        <img alt="Image" src="  ./../../../../assets/img/cadastro-path-29.png" class="bp1-path1" />
        <img alt="Image" src="  ./../../../../assets/img/cadastro-path-30@2x.png" class="bp1-path2" />
      </div>
      <img alt="Image" src="./../../../../assets/img/cadastro-rectangle-2.png" class="bp1-rectangle" />
      <div class="bp1-fullname">
        <div class="bp1-rectangle1">
        </div>
        <div class="bp1-user">
          <div class="bp1-user1">
            <img alt="Image" src="./../../../../assets/img/cadastro-user@2x.png" class="bp1-user2" />
          </div>
        </div>
        <input class="bp1-textseunomecompleto" name="textSeuNomeCompleto" placeholder="Seu Nome Completo" required=""
          type="text" />
        <div class="bp1-nomecompleto">
          Nome Completo
        </div>
      </div>
      <div class="bp1-email">
        <div class="bp1-rectangle1">
        </div>
        <div class="bp1-mail">
          <div class="bp1-mail1">
            <img alt="Image" src="./../../../../assets/img/cadastro-mail@2x.png" class="bp1-mail2" />
          </div>
        </div>
        <input class="bp1-textemail" name="textEMail" placeholder="E-mail de Cadastro" value="text" required=""
          type="email" #emailSgnUp required
          pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" />
        <div class="bp1-email1">
          Email *
        </div>
      </div>
      <div class="bp1-password">
        <div class="bp1-rectangle1">
        </div>
        <div class="bp1-lock">
          <div class="bp1-lock1">
            <img alt="Image" src="./../../../../assets/img/cadastro-lock@2x.png" class="bp1-lock2" />
          </div>
        </div>
        <input class="bp1-textsuasenha" name="textSuaSenha" placeholder="Sua Senha" required="" type="password"
          #passSgnUp />
        <div class="bp1-senha">
          Senha *
        </div>
      </div>
      <div class="bp1-signupheader  smart-layers-pointers ">
        CADASTRE - SE
      </div>
      <a button (click)="onSignUp(emailSgnUp.value, passSgnUp.value)" id="signIn">
        <div class="bp1-signupbutton  smart-layers-pointers ">
          <div class="bp1-rectangle1">
          </div>
          <div class="bp1-cadastrar  valign-text-middle">
            Cadastrar
          </div>
        </div>
      </a>
      <div class="bp1-aviaozin  smart-layers-pointers ">
        <img alt="Image" src="./../../../../assets/img/aviaozin.svg" class="bp1-path" />
      </div>
    </div>

  </div>

</div>
