<div class="bp1-index">
  <div class="bp1-header-layout-container">
    <div class="bp1-header">
      <div class="bp1-background">
      </div>
      <div class="bp1-headergroup">
        <div class="bp1-stackedgroup1">
          <div class="bp1-stackedgroup2">
            <div class="bp1-criadoreslogoout">
              <div class="bp1-background1">
              </div>
              <a routerLink="/">
                <div class="bp1-logocriadoresout">
                  <img src="{{ this.ImgSrc }}" class="bp1-shape" alt="Image">
                </div>
              </a>
            </div>
            <div class="bp1-stackedgroup3">

              <div>
                <div class="bp1-headerbuttons bp1-headerbuttons-K8RL component ">
                  <a routerLink="/sobre" class="bp1-aboutbutton anima-smart-layers-pointers ">

                    <div class="bp1-aboutbutton1">

                      <div class="bp1-sobre">
                        Sobre
                      </div>
                    </div>

                  </a>
                  <a class="bp1-pricesbutton anima-smart-layers-pointers " routerLink="/precos">

                    <div class="bp1-pricesbutton1">

                      <div class="bp1-pre347os">
                        Preços
                      </div>
                    </div>

                  </a>
                  <a class="bp1-contactbutton" routerLink="/contato">
                    <div class="bp1-contactbutton1">

                      <div class="bp1-contato">
                        Contato
                      </div>
                    </div>

                  </a>

                </div>
              </div>
              <div class="bp1-stackedgroup4">
                <div class="bp1-shopgroup anima-smart-layers-pointers ">
                  <div class="bp1-shop2" id="shopBtn1">
                    <img alt="Image" src="assets/img/homemobile-shape-1@2x.png" class="bp1-shape15" />
                    <img alt="Image" src="assets/img/conteudo-shape-23@2x.png" class="bp1-shape16" />
                  </div>
                </div>
                <div class="bp1-profileicon anima-smart-layers-pointers ">
                  <img alt="Image" src="assets/img/programa-shape-24@2x.png" class="bp1-shape" />
                  <img alt="Image" src="assets/img/avisualtablet-shape-6@2x.png" class="bp1-shape1" />
                </div>
              </div>

            </div>
          </div>
          <img alt="Image" src="assets/img/conteudo-path-2-1.png" class="bp1-path2" />
        </div>
      </div>
    </div>

  </div>
</div>




<div class="bp2-homemobile">

  <div class="bp2-headermobile-layout-container">
    <div class="bp2-headermobile">
      <div class="bp2-background">
      </div>
      <div class="bp2-stackedheader">
        <div class="bp2-centerstacked">
          <div class="bp2-lcstacked">
            <div class="bp2-criadoreslogoout">
              <div class="bp2-background1">
              </div>
              <a routerLink="/">
                <div class="bp2-logocriadoresout">
                  <img src="{{ this.ImgSrc }}" class="bp2-shape" alt="Image">
                </div>
              </a>
            </div>

            <div id="7Tl6WBP">

              <div
                class="bp2-headerbuttons bp2-headerbuttons-cQ3Y component anima-component-wrapper anima-not-ready anima-word-break state1">


                <div
                  class="bp2-menutab bp2-menutab-VCWV component anima-component-wrapper anima-not-ready anima-word-break state1">
                  <div class="bp2-lines">
                    <img alt="Image" class="bp2-linecopy5 anima-hidden "
                      src="assets/img/cadastrarmobile-line-copy-5@4x.png" />
                    <img alt="Image" class="bp2-linecopy4 anima-hidden "
                      src="assets/img/sobremobile-line-copy-4@5x.png" />
                    <img alt="Image" class="bp2-linecopy3 anima-hidden "
                      src="assets/img/avisualtablet-line-copy-3@5x.png" />
                    <img alt="Image" class="bp2-line anima-hidden " src="assets/img/precotablet-line@2x.png" />
                    <img alt="Image" class="bp2-linecopy2 anima-hidden "
                      src="assets/img/hometablet-line-copy-2@2x.png" />
                    <img alt="Image" class="bp2-linecopy anima-hidden "
                      src="assets/img/cadastrartablet-line-copy@2x.png" />
                    <img alt="Image" class="bp2-menu" src="assets/img/programatablet-menu@3x.png" />
                    <img alt="Image" class="bp2-menucopy" src="assets/img/sobremobile-menu-copy@3x.png" />
                  </div>
                </div>

              </div>
            </div>

          </div>
          <div class="bp2-rstacked">
            <div class="bp2-shopgroup anima-smart-layers-pointers ">
              <div class="bp2-shop2" id="shopBtn">
                <img alt="Image" src="assets/img/homemobile-shape-1@2x.png" class="bp2-shape" />
                <img alt="Image" src="assets/img/conteudo-shape-23@2x.png" class="bp2-shape1" />
              </div>
            </div>

            <div class="bp2-profileicon anima-smart-layers-pointers ">
              <img alt="Image" src="assets/img/programa-shape-24@2x.png" class="bp2-shape" />
              <img alt="Image" src="assets/img/avisualtablet-shape-6@2x.png" class="bp2-shape1" />
            </div>

          </div>
        </div>
        <img alt="Image" src="assets/img/contatomobile-path-2.png" class="bp2-path2" />
      </div>
    </div>
  </div>

</div>




<div class="bp3-hometablet">

  <div class="bp3-headertabletstack-layout-container">
    <div class="bp3-headertabletstack">
      <div class="bp3-stackedheader">
        <div class="bp3-centerstacked">
          <div class="bp3-lcstacked">
            <div class="bp3-criadoreslogoout">
              <div class="bp3-background">
              </div>
              <a routerLink="/">
                <div class="bp3-logocriadoresout">
                  <img src="{{ this.ImgSrc }}" class="bp3-shape" alt="Image">

                </div>
              </a>
            </div>

            <div id="xIMvCkd">

              <div
                class="bp3-headerbuttons bp3-headerbuttons-WX3v component anima-component-wrapper anima-not-ready anima-word-break state1"
                data-initial-state="state1">


                <div
                  class="bp3-menutab bp3-menutab-idES component anima-component-wrapper anima-not-ready anima-word-break state1">
                  <div class="bp3-lines">
                    <img alt="Image" class="bp3-linecopy5 anima-hidden "
                      src="assets/img/cadastrarmobile-line-copy-5@4x.png" />
                    <img alt="Image" class="bp3-linecopy4 anima-hidden "
                      src="assets/img/sobremobile-line-copy-4@5x.png" />
                    <img alt="Image" class="bp3-linecopy3 anima-hidden "
                      src="assets/img/avisualtablet-line-copy-3@5x.png" />
                    <img alt="Image" class="bp3-line anima-hidden " src="assets/img/precotablet-line@2x.png" />
                    <img alt="Image" class="bp3-linecopy2 anima-hidden "
                      src="assets/img/hometablet-line-copy-2@2x.png" />
                    <img alt="Image" class="bp3-linecopy anima-hidden "
                      src="assets/img/cadastrartablet-line-copy@2x.png" />
                    <img alt="Image" class="bp3-menu" src="assets/img/programatablet-menu@3x.png" />
                    <img alt="Image" class="bp3-menucopy" src="assets/img/sobremobile-menu-copy@3x.png" />
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="bp3-rstacked">
            <div id="shopBtn" class="bp3-shopgroup anima-smart-layers-pointers ">
              <div class="bp3-shop2">
                <img alt="Image" src="assets/img/homemobile-shape-1@2x.png" class="bp3-shape" />
                <img alt="Image" src="assets/img/conteudo-shape-23@2x.png" class="bp3-shape1" />
              </div>
            </div>
            <div class="bp3-profileicon anima-smart-layers-pointers ">
              <img alt="Image" src="assets/img/programa-shape-24@2x.png" class="bp3-shape" />
              <img alt="Image" src="assets/img/avisualtablet-shape-6@2x.png" class="bp3-shape1" />
            </div>

          </div>
        </div>
        <img alt="Image" src="assets/img/contatotablet-path-2.png" class="bp3-path2" />
      </div>
    </div>

  </div>

</div>



<div class="bp4-homelq">

  <div class="bp4-headerlq-layout-container">
    <div class="bp4-headerlq">
      <div class="bp4-headergroup">
        <img alt="Image" src="assets/img/cadastrolq-path-2-1.png" class="bp4-path2" />
        <div class="bp4-stackedlogoto">
          <div class="bp4-criadoreslogoout">
            <div class="bp4-background">
            </div>
            <a routerLink="/">
              <div class="bp4-logocriadoresout">
                <img src="{{ this.ImgSrc }}" class="bp4-shape" alt="Image">

              </div>
            </a>
          </div>
          <div class="bp4-buttonsheaderto">

            <div id="sZ93qHH">
              <div
                class="bp4-headerbuttons bp4-headerbuttons-UO5K component anima-component-wrapper anima-not-ready anima-word-break state1"
                data-initial-state="state1">
                <div class="bp4-background">
                </div>
                <div class="bp4-aboutbutton anima-smart-layers-pointers ">
                  <a routerLink="/sobre">
                    <div class="bp4-aboutbutton1">
                      <div class="bp4-background1">
                      </div>
                      <div class="bp4-sobre">
                        Sobre
                      </div>
                    </div>
                  </a>
                </div>
                <div class="bp4-pricesbutton anima-smart-layers-pointers ">
                  <a routerLink="/precos">
                    <div class="bp4-pricesbutton1">
                      <div class="bp4-background1">
                      </div>
                      <div class="bp4-pre347os">
                        Preços
                      </div>
                    </div>
                  </a>
                </div>
                <div class="bp4-contactbutton">
                  <a routerLink="/contato">
                    <div class="bp4-contactbutton1">
                      <div class="bp4-background1">
                      </div>
                      <div class="bp4-contato">
                        Contato
                      </div>
                    </div>
                  </a>
                </div>
                <div class="bp4-rectangle anima-hidden ">
                </div>
              </div>
            </div>

            <div class="bp4-stackedgroup1">
              <div class="bp4-shopgroup anima-smart-layers-pointers ">
                <div class="bp4-shop2" id="shopBtn">
                  <img alt="Image" src="assets/img/homemobile-shape-1@2x.png" class="bp4-shape15" />
                  <img alt="Image" src="assets/img/conteudo-shape-23@2x.png" class="bp4-shape16" />
                </div>
              </div>

              <div class="bp4-profileicon anima-smart-layers-pointers ">
                <img alt="Image" src="assets/img/programa-shape-24@2x.png" class="bp4-shape" />
                <img alt="Image" src="assets/img/avisualtablet-shape-6@2x.png" class="bp4-shape1" />
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
