<div class="bp1-index">
  <div class="bp1-header-layout-container">
    <div class="bp1-header">
      <div class="bp1-background">
      </div>
      <div class="bp1-headergroup">
        <div class="bp1-stackedgroup1">
          <div class="bp1-stackedgroup2">
            <div class="bp1-criadoreslogoout">
              <div class="bp1-background1">
              </div>
              <a routerLink="/">
                <div class="bp1-logocriadoresout">
                  <img alt="Image" src="./../../../assets/img/homelq-shape-1@2x.png" class="bp1-shape" />
                  <img alt="Image" src="  ./../../../assets/img/sobre-shape-1@2x.png" class="bp1-shape1" />
                  <img alt="Image" src="  ./../../../assets/img/cadastrolq-shape-2@2x.png" class="bp1-shape2" />
                  <img alt="Image" src="  ./../../../assets/img/precoslq-shape-3@2x.png" class="bp1-shape3" />
                  <img alt="Image" src="  ./../../../assets/img/sobrelq-shape-4@2x.png" class="bp1-shape4" />
                  <img alt="Image" src="  ./../../../assets/img/precos-shape-5@2x.png" class="bp1-shape5" />
                  <img alt="Image" src="  ./../../../assets/img/cadastro-shape-6@2x.png" class="bp1-shape6" />
                  <img alt="Image" src="  ./../../../assets/img/service-shape-10@2x.png" class="bp1-shape7" />
                  <img alt="Image" src="  ./../../../assets/img/sobrelq-shape-8@2x.png" class="bp1-shape8" />
                  <img alt="Image" src="  ./../../../assets/img/precos-path@2x.png" class="bp1-path" />
                  <img alt="Image" src="  ./../../../assets/img/contatolq-shape-9@2x.png" class="bp1-shape9" />
                  <img alt="Image" src="  ./../../../assets/img/sobrelq-shape-10@2x.png" class="bp1-shape10" />
                  <img alt="Image" src="  ./../../../assets/img/contato-shape-11@2x.png" class="bp1-shape11" />
                  <img alt="Image" src="  ./../../../assets/img/precotablet-path-1@2x.png" class="bp1-path1" />
                  <img alt="Image" src="  ./../../../assets/img/sobrelq-path-5@2x.png" class="bp1-path21" />
                  <img alt="Image" src="  ./../../../assets/img/cadastrolq-shape-12@2x.png" class="bp1-shape12" />
                  <img alt="Image" src="  ./../../../assets/img/contatolq-shape-13@2x.png" class="bp1-shape13" />
                  <img alt="Image" src="  ./../../../assets/img/homelq-shape-15@2x.png" class="bp1-shape14" />
                </div>
              </a>
            </div>
            <div class="bp1-stackedgroup3">

              <div>
                <div class="bp1-headerbuttons bp1-headerbuttons-K8RL component ">
                  <a routerLink="/sobre" class="bp1-aboutbutton anima-smart-layers-pointers ">

                    <div class="bp1-aboutbutton1">

                      <div class="bp1-sobre">
                        Sobre
                      </div>
                    </div>

                  </a>
                  <div class="bp1-pricesbutton anima-smart-layers-pointers " routerLink="/precos">

                    <div class="bp1-pricesbutton1">
                      <div class="bp1-background2">
                      </div>
                      <div class="bp1-pre347os">
                        Preços
                      </div>
                    </div>

                  </div>
                  <a class="bp1-contactbutton" routerLink="/contato">
                    <div class="bp1-contactbutton1">
                      <div class="bp1-background2">
                      </div>
                      <div class="bp1-contato">
                        Contato
                      </div>
                    </div>

                  </a>
                  <!-- <div class="bp1-rectangle anima-hidden ">
                  </div> -->
                </div>
              </div>
              <div class="bp1-stackedgroup4">
                <div class="bp1-shopgroup anima-smart-layers-pointers ">
                  <div class="bp1-shop2" id="shopBtn1">
                    <img alt="Image" src="./../../../assets/img/homemobile-shape-1@2x.png" class="bp1-shape15" />
                    <img alt="Image" src="./../../../assets/img/conteudo-shape-23@2x.png" class="bp1-shape16" />
                  </div>
                </div>
                <div class="bp1-profileicon anima-smart-layers-pointers ">
                  <img alt="Image" src="./../../../assets/img/programa-shape-24@2x.png" class="bp1-shape" />
                  <img alt="Image" src="./../../../assets/img/avisualtablet-shape-6@2x.png" class="bp1-shape1" />
                </div>
              </div>

            </div>
          </div>
          <img alt="Image" src="./../../../assets/img/conteudo-path-2-1.png" class="bp1-path2" />
        </div>
      </div>
    </div>

  </div>
</div>




<div class="bp2-homemobile">

  <div class="bp2-headermobile-layout-container">
    <div class="bp2-headermobile">
      <div class="bp2-background">
      </div>
      <div class="bp2-stackedheader">
        <div class="bp2-centerstacked">
          <div class="bp2-lcstacked">
            <div class="bp2-criadoreslogoout">
              <div class="bp2-background1">
              </div>
              <a href="index.html">
                <div class="bp2-logocriadoresout">
                  <img alt="Image" src="./../../../assets/img/cadastrarmobile-shape-4@2x.png" class="bp2-shape" />
                  <img alt="Image" src="./../../../assets/img/contatomobile-shape-5@2x.png" class="bp2-shape1" />
                  <img alt="Image" src="./../../../assets/img/servicemobile-shape-6@2x.png" class="bp2-shape2" />
                  <img alt="Image" src="./../../../assets/img/sobremobile-shape-7@2x.png" class="bp2-shape3" />
                  <img alt="Image" src="./../../../assets/img/cadastrarmobile-shape-8@2x.png" class="bp2-shape4" />
                  <img alt="Image" src="./../../../assets/img/contatomobile-shape-9@2x.png" class="bp2-shape5" />
                  <img alt="Image" src="./../../../assets/img/homemobile-shape-11@2x.png" class="bp2-shape6" />
                  <img alt="Image" src="./../../../assets/img/precomobile-shape-11@2x.png" class="bp2-shape7" />
                  <img alt="Image" src="./../../../assets/img/homemobile-shape-13@2x.png" class="bp2-shape8" />
                  <img alt="Image" src="./../../../assets/img/contatomobile-path@2x.png" class="bp2-path" />
                  <img alt="Image" src="./../../../assets/img/contatomobile-shape-13@2x.png" class="bp2-shape9" />
                  <img alt="Image" src="./../../../assets/img/servicemobile-shape-14@2x.png" class="bp2-shape10" />
                  <img alt="Image" src="./../../../assets/img/sobremobile-shape-15@2x.png" class="bp2-shape11" />
                  <img alt="Image" src="./../../../assets/img/servicemobile-path-4@2x.png" class="bp2-path1" />
                  <img alt="Image" src="./../../../assets/img/cadastrarmobile-path-89@2x.png" class="bp2-path21" />
                  <img alt="Image" src="./../../../assets/img/servicemobile-shape-16@2x.png" class="bp2-shape12" />
                  <img alt="Image" src="./../../../assets/img/cadastrarmobile-shape-17@2x.png" class="bp2-shape13" />
                  <img alt="Image" src="./../../../assets/img/servicemobile-shape-18@2x.png" class="bp2-shape14" />
                </div>
              </a>
            </div>
            <style>
              .bp2-homemobile .bp2-headermobile .bp2-stackedheader .bp2-centerstacked .bp2-lcstacked .bp2-headerbuttons-cQ3Y * {
                box-sizing: border-box;
              }

              .bp2-homemobile .bp2-headermobile .bp2-stackedheader .bp2-centerstacked .bp2-lcstacked .bp2-headerbuttons-cQ3Y {
                background-color: rgba(255, 255, 255, 0.0);
                position: relative;
                height: 23px;
                margin: 0 0 0 80px;
                width: 27px;
                transform: rotate(0deg);
              }

              .bp2-homemobile .bp2-headermobile .bp2-stackedheader .bp2-centerstacked .bp2-lcstacked .bp2-headerbuttons-cQ3Y .bp2-menutab-VCWV {
                background-color: rgba(255, 255, 255, 0.0);
                top: 0px;
                height: 23px;
                width: 27px;
                position: relative;
                margin: 0;
                left: 0px;
                transform: rotate(0deg);
              }

              .bp2-homemobile .bp2-headermobile .bp2-stackedheader .bp2-centerstacked .bp2-lcstacked .bp2-headerbuttons-cQ3Y .bp2-menutab-VCWV .bp2-lines {
                background-color: rgba(255, 255, 255, 0.0);
                right: 0px;
                top: 0px;
                height: 23px;
                width: 27px;
                position: absolute;
                margin: 0;
                transform: rotate(0deg);
              }

              .bp2-homemobile .bp2-headermobile .bp2-stackedheader .bp2-centerstacked .bp2-lcstacked .bp2-headerbuttons-cQ3Y .bp2-menutab-VCWV .bp2-lines .bp2-linecopy5 {
                background-color: rgba(255, 255, 255, 0.0);
                top: 8.70%;
                height: 4.35%;
                width: 88.89%;
                position: absolute;
                margin: 0;
                left: 0px;
                transform: rotate(0deg);
                opacity: 0.0;
              }

              .bp2-homemobile .bp2-headermobile .bp2-stackedheader .bp2-centerstacked .bp2-lcstacked .bp2-headerbuttons-cQ3Y .bp2-menutab-VCWV .bp2-lines .bp2-linecopy4 {
                background-color: rgba(255, 255, 255, 0.0);
                right: 11.11%;
                bottom: 8.70%;
                height: 4.35%;
                width: 70.37%;
                position: absolute;
                margin: 0;
                transform: rotate(0deg);
                opacity: 0.0;
              }

              .bp2-homemobile .bp2-headermobile .bp2-stackedheader .bp2-centerstacked .bp2-lcstacked .bp2-headerbuttons-cQ3Y .bp2-menutab-VCWV .bp2-lines .bp2-linecopy3 {
                background-color: rgba(255, 255, 255, 0.0);
                top: 47.83%;
                height: 4.35%;
                width: 77.78%;
                position: absolute;
                margin: 0;
                left: 11.11%;
                transform: rotate(0deg);
                opacity: 0.0;
              }

              .bp2-homemobile .bp2-headermobile .bp2-stackedheader .bp2-centerstacked .bp2-lcstacked .bp2-headerbuttons-cQ3Y .bp2-menutab-VCWV .bp2-lines .bp2-line {
                background-color: rgba(255, 255, 255, 0.0);
                top: 8.70%;
                height: 4.35%;
                width: 88.89%;
                position: absolute;
                margin: 0;
                left: 0px;
                transform: rotate(0deg);
                opacity: 0.0;
              }

              .bp2-homemobile .bp2-headermobile .bp2-stackedheader .bp2-centerstacked .bp2-lcstacked .bp2-headerbuttons-cQ3Y .bp2-menutab-VCWV .bp2-lines .bp2-linecopy2 {
                background-color: rgba(255, 255, 255, 0.0);
                right: 11.11%;
                bottom: 8.70%;
                height: 4.35%;
                width: 70.37%;
                position: absolute;
                margin: 0;
                transform: rotate(0deg);
                opacity: 0.0;
              }

              .bp2-homemobile .bp2-headermobile .bp2-stackedheader .bp2-centerstacked .bp2-lcstacked .bp2-headerbuttons-cQ3Y .bp2-menutab-VCWV .bp2-lines .bp2-linecopy {
                background-color: rgba(255, 255, 255, 0.0);
                top: 47.83%;
                height: 4.35%;
                width: 77.78%;
                position: absolute;
                margin: 0;
                left: 11.11%;
                transform: rotate(0deg);
                opacity: 0.0;
              }

              .bp2-homemobile .bp2-headermobile .bp2-stackedheader .bp2-centerstacked .bp2-lcstacked .bp2-headerbuttons-cQ3Y .bp2-menutab-VCWV .bp2-lines .bp2-menu {
                background-color: rgba(255, 255, 255, 0.0);
                right: 0px;
                top: 0px;
                height: 100%;
                width: 92.59%;
                position: absolute;
                margin: 0;
                transform: rotate(0deg);
              }

              .bp2-homemobile .bp2-headermobile .bp2-stackedheader .bp2-centerstacked .bp2-lcstacked .bp2-headerbuttons-cQ3Y .bp2-menutab-VCWV .bp2-lines .bp2-menucopy {
                background-color: rgba(255, 255, 255, 0.0);
                right: 0px;
                top: 0px;
                height: 100%;
                width: 92.59%;
                position: absolute;
                margin: 0;
                transform: rotate(0deg);
              }

            </style>
            <div id="7Tl6WBP">

              <div
                class="bp2-headerbuttons bp2-headerbuttons-cQ3Y component anima-component-wrapper anima-not-ready anima-word-break state1">


                <div
                  class="bp2-menutab bp2-menutab-VCWV component anima-component-wrapper anima-not-ready anima-word-break state1">
                  <div class="bp2-lines">
                    <img alt="Image" class="bp2-linecopy5 anima-hidden "
                      src="./../../../assets/img/cadastrarmobile-line-copy-5@4x.png" />
                    <img alt="Image" class="bp2-linecopy4 anima-hidden "
                      src="./../../../assets/img/sobremobile-line-copy-4@5x.png" />
                    <img alt="Image" class="bp2-linecopy3 anima-hidden "
                      src="./../../../assets/img/avisualtablet-line-copy-3@5x.png" />
                    <img alt="Image" class="bp2-line anima-hidden "
                      src="./../../../assets/img/precotablet-line@2x.png" />
                    <img alt="Image" class="bp2-linecopy2 anima-hidden "
                      src="./../../../assets/img/hometablet-line-copy-2@2x.png" />
                    <img alt="Image" class="bp2-linecopy anima-hidden "
                      src="./../../../assets/img/cadastrartablet-line-copy@2x.png" />
                    <img alt="Image" class="bp2-menu" src="./../../../assets/img/programatablet-menu@3x.png" />
                    <img alt="Image" class="bp2-menucopy" src="./../../../assets/img/sobremobile-menu-copy@3x.png" />
                  </div>
                </div>

              </div>
            </div>

          </div>
          <div class="bp2-rstacked">
            <div class="bp2-shopgroup anima-smart-layers-pointers ">
              <div class="bp2-shop2" id="shopBtn">
                <img alt="Image" src="./../../../assets/img/homemobile-shape-1@2x.png" class="bp2-shape" />
                <img alt="Image" src="./../../../assets/img/conteudo-shape-23@2x.png" class="bp2-shape1" />
              </div>
            </div>

            <div class="bp2-profileicon anima-smart-layers-pointers ">
              <img alt="Image" src="./../../../assets/img/programa-shape-24@2x.png" class="bp2-shape" />
              <img alt="Image" src="./../../../assets/img/avisualtablet-shape-6@2x.png" class="bp2-shape1" />
            </div>

          </div>
        </div>
        <img alt="Image" src="./../../../assets/img/contatomobile-path-2.png" class="bp2-path2" />
      </div>
    </div>
  </div>

</div>




<div class="bp3-hometablet">

  <div class="bp3-headertabletstack-layout-container">
    <div class="bp3-headertabletstack">
      <div class="bp3-stackedheader">
        <div class="bp3-centerstacked">
          <div class="bp3-lcstacked">
            <div class="bp3-criadoreslogoout">
              <div class="bp3-background">
              </div>
              <a href="index.html">
                <div class="bp3-logocriadoresout">
                  <img alt="Image" src="./../../../assets/img/contatotablet-shape-4@2x.png" class="bp3-shape" />
                  <img alt="Image" src="./../../../assets/img/hometablet-shape-6@2x.png" class="bp3-shape1" />
                  <img alt="Image" src="./../../../assets/img/sobretablet-shape-6@2x.png" class="bp3-shape2" />
                  <img alt="Image" src="./../../../assets/img/precotablet-shape-7@2x.png" class="bp3-shape3" />
                  <img alt="Image" src="./../../../assets/img/contatotablet-shape-8@2x.png" class="bp3-shape4" />
                  <img alt="Image" src="./../../../assets/img/precotablet-shape-9@2x.png" class="bp3-shape5" />
                  <img alt="Image" src="./../../../assets/img/sobretablet-shape-10@2x.png" class="bp3-shape6" />
                  <img alt="Image" src="./../../../assets/img/servicetablet-shape-11@2x.png" class="bp3-shape7" />
                  <img alt="Image" src="./../../../assets/img/cadastrartablet-shape-12@2x.png" class="bp3-shape8" />
                  <img alt="Image" src="./../../../assets/img/precotablet-path@2x.png" class="bp3-path" />
                  <img alt="Image" src="./../../../assets/img/hometablet-shape-14@2x.png" class="bp3-shape9" />
                  <img alt="Image" src="./../../../assets/img/precotablet-shape-14@2x.png" class="bp3-shape10" />
                  <img alt="Image" src="./../../../assets/img/hometablet-shape-16@2x.png" class="bp3-shape11" />
                  <img alt="Image" src="./../../../assets/img/precotablet-path-1@2x.png" class="bp3-path1" />
                  <img alt="Image" src="./../../../assets/img/sobretablet-path-5@2x.png" class="bp3-path21" />
                  <img alt="Image" src="./../../../assets/img/contatotablet-shape-16@2x.png" class="bp3-shape12" />
                  <img alt="Image" src="./../../../assets/img/hometablet-shape-18@2x.png" class="bp3-shape13" />
                  <img alt="Image" src="./../../../assets/img/precotablet-shape-18@2x.png" class="bp3-shape14" />
                </div>
              </a>
            </div>
            <style>
              .bp3-hometablet .bp3-headertabletstack .bp3-stackedheader .bp3-centerstacked .bp3-lcstacked .bp3-headerbuttons-WX3v * {
                box-sizing: border-box;
              }

              .bp3-hometablet .bp3-headertabletstack .bp3-stackedheader .bp3-centerstacked .bp3-lcstacked .bp3-headerbuttons-WX3v {
                background-color: rgba(255, 255, 255, 0.0);
                position: relative;
                height: 23px;
                margin: 0 0 0 240px;
                width: 27px;
                transform: rotate(0deg);
              }

              .bp3-hometablet .bp3-headertabletstack .bp3-stackedheader .bp3-centerstacked .bp3-lcstacked .bp3-headerbuttons-WX3v .bp3-menutab-idES {
                background-color: rgba(255, 255, 255, 0.0);
                top: 0px;
                height: 23px;
                width: 27px;
                position: relative;
                margin: 0;
                left: 0px;
                transform: rotate(0deg);
              }

              .bp3-hometablet .bp3-headertabletstack .bp3-stackedheader .bp3-centerstacked .bp3-lcstacked .bp3-headerbuttons-WX3v .bp3-menutab-idES .bp3-lines {
                background-color: rgba(255, 255, 255, 0.0);
                right: 0px;
                top: 0px;
                height: 23px;
                width: 27px;
                position: absolute;
                margin: 0;
                transform: rotate(0deg);
              }

              .bp3-hometablet .bp3-headertabletstack .bp3-stackedheader .bp3-centerstacked .bp3-lcstacked .bp3-headerbuttons-WX3v .bp3-menutab-idES .bp3-lines .bp3-linecopy5 {
                background-color: rgba(255, 255, 255, 0.0);
                top: 8.70%;
                height: 4.35%;
                width: 88.89%;
                position: absolute;
                margin: 0;
                left: 0px;
                transform: rotate(0deg);
                opacity: 0.0;
              }

              .bp3-hometablet .bp3-headertabletstack .bp3-stackedheader .bp3-centerstacked .bp3-lcstacked .bp3-headerbuttons-WX3v .bp3-menutab-idES .bp3-lines .bp3-linecopy4 {
                background-color: rgba(255, 255, 255, 0.0);
                right: 11.11%;
                bottom: 8.70%;
                height: 4.35%;
                width: 70.37%;
                position: absolute;
                margin: 0;
                transform: rotate(0deg);
                opacity: 0.0;
              }

              .bp3-hometablet .bp3-headertabletstack .bp3-stackedheader .bp3-centerstacked .bp3-lcstacked .bp3-headerbuttons-WX3v .bp3-menutab-idES .bp3-lines .bp3-linecopy3 {
                background-color: rgba(255, 255, 255, 0.0);
                top: 47.83%;
                height: 4.35%;
                width: 77.78%;
                position: absolute;
                margin: 0;
                left: 11.11%;
                transform: rotate(0deg);
                opacity: 0.0;
              }

              .bp3-hometablet .bp3-headertabletstack .bp3-stackedheader .bp3-centerstacked .bp3-lcstacked .bp3-headerbuttons-WX3v .bp3-menutab-idES .bp3-lines .bp3-line {
                background-color: rgba(255, 255, 255, 0.0);
                top: 8.70%;
                height: 4.35%;
                width: 88.89%;
                position: absolute;
                margin: 0;
                left: 0px;
                transform: rotate(0deg);
                opacity: 0.0;
              }

              .bp3-hometablet .bp3-headertabletstack .bp3-stackedheader .bp3-centerstacked .bp3-lcstacked .bp3-headerbuttons-WX3v .bp3-menutab-idES .bp3-lines .bp3-linecopy2 {
                background-color: rgba(255, 255, 255, 0.0);
                right: 11.11%;
                bottom: 8.70%;
                height: 4.35%;
                width: 70.37%;
                position: absolute;
                margin: 0;
                transform: rotate(0deg);
                opacity: 0.0;
              }

              .bp3-hometablet .bp3-headertabletstack .bp3-stackedheader .bp3-centerstacked .bp3-lcstacked .bp3-headerbuttons-WX3v .bp3-menutab-idES .bp3-lines .bp3-linecopy {
                background-color: rgba(255, 255, 255, 0.0);
                top: 47.83%;
                height: 4.35%;
                width: 77.78%;
                position: absolute;
                margin: 0;
                left: 11.11%;
                transform: rotate(0deg);
                opacity: 0.0;
              }

              .bp3-hometablet .bp3-headertabletstack .bp3-stackedheader .bp3-centerstacked .bp3-lcstacked .bp3-headerbuttons-WX3v .bp3-menutab-idES .bp3-lines .bp3-menu {
                background-color: rgba(255, 255, 255, 0.0);
                right: 0px;
                top: 0px;
                height: 100%;
                width: 92.59%;
                position: absolute;
                margin: 0;
                transform: rotate(0deg);
              }

              .bp3-hometablet .bp3-headertabletstack .bp3-stackedheader .bp3-centerstacked .bp3-lcstacked .bp3-headerbuttons-WX3v .bp3-menutab-idES .bp3-lines .bp3-menucopy {
                background-color: rgba(255, 255, 255, 0.0);
                right: 0px;
                top: 0px;
                height: 100%;
                width: 92.59%;
                position: absolute;
                margin: 0;
                transform: rotate(0deg);
              }

            </style>
            <div id="xIMvCkd">

              <div
                class="bp3-headerbuttons bp3-headerbuttons-WX3v component anima-component-wrapper anima-not-ready anima-word-break state1"
                data-initial-state="state1">


                <div
                  class="bp3-menutab bp3-menutab-idES component anima-component-wrapper anima-not-ready anima-word-break state1">
                  <div class="bp3-lines">
                    <img alt="Image" class="bp3-linecopy5 anima-hidden "
                      src="./../../../assets/img/cadastrarmobile-line-copy-5@4x.png" />
                    <img alt="Image" class="bp3-linecopy4 anima-hidden "
                      src="./../../../assets/img/sobremobile-line-copy-4@5x.png" />
                    <img alt="Image" class="bp3-linecopy3 anima-hidden "
                      src="./../../../assets/img/avisualtablet-line-copy-3@5x.png" />
                    <img alt="Image" class="bp3-line anima-hidden "
                      src="./../../../assets/img/precotablet-line@2x.png" />
                    <img alt="Image" class="bp3-linecopy2 anima-hidden "
                      src="./../../../assets/img/hometablet-line-copy-2@2x.png" />
                    <img alt="Image" class="bp3-linecopy anima-hidden "
                      src="./../../../assets/img/cadastrartablet-line-copy@2x.png" />
                    <img alt="Image" class="bp3-menu" src="./../../../assets/img/programatablet-menu@3x.png" />
                    <img alt="Image" class="bp3-menucopy" src="./../../../assets/img/sobremobile-menu-copy@3x.png" />
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="bp3-rstacked">
            <div id="shopBtn" class="bp3-shopgroup anima-smart-layers-pointers ">
              <div class="bp3-shop2">
                <img alt="Image" src="./../../../assets/img/homemobile-shape-1@2x.png" class="bp3-shape" />
                <img alt="Image" src="./../../../assets/img/conteudo-shape-23@2x.png" class="bp3-shape1" />
              </div>
            </div>
            <div class="bp3-profileicon anima-smart-layers-pointers ">
              <img alt="Image" src="./../../../assets/img/programa-shape-24@2x.png" class="bp3-shape" />
              <img alt="Image" src="./../../../assets/img/avisualtablet-shape-6@2x.png" class="bp3-shape1" />
            </div>

          </div>
        </div>
        <img alt="Image" src="./../../../assets/img/contatotablet-path-2.png" class="bp3-path2" />
      </div>
    </div>

  </div>

</div>



<div class="bp4-homelq">

  <div class="bp4-headerlq-layout-container">
    <div class="bp4-headerlq">
      <div class="bp4-headergroup">
        <img alt="Image" src="./../../../assets/img/cadastrolq-path-2-1.png" class="bp4-path2" />
        <div class="bp4-stackedlogoto">
          <div class="bp4-criadoreslogoout">
            <div class="bp4-background">
            </div>
            <a href="index.html">
              <div class="bp4-logocriadoresout">
                <img alt="Image" src="./../../../assets/img/homelq-shape-1@2x.png" class="bp4-shape" />
                <img alt="Image" src="./../../../assets/img/sobre-shape-1@2x.png" class="bp4-shape1" />
                <img alt="Image" src="./../../../assets/img/cadastrolq-shape-2@2x.png" class="bp4-shape2" />
                <img alt="Image" src="./../../../assets/img/precoslq-shape-3@2x.png" class="bp4-shape3" />
                <img alt="Image" src="./../../../assets/img/sobrelq-shape-4@2x.png" class="bp4-shape4" />
                <img alt="Image" src="./../../../assets/img/precos-shape-5@2x.png" class="bp4-shape5" />
                <img alt="Image" src="./../../../assets/img/cadastro-shape-6@2x.png" class="bp4-shape6" />
                <img alt="Image" src="./../../../assets/img/service-shape-10@2x.png" class="bp4-shape7" />
                <img alt="Image" src="./../../../assets/img/sobrelq-shape-8@2x.png" class="bp4-shape8" />
                <img alt="Image" src="./../../../assets/img/precos-path@2x.png" class="bp4-path" />
                <img alt="Image" src="./../../../assets/img/contatolq-shape-9@2x.png" class="bp4-shape9" />
                <img alt="Image" src="./../../../assets/img/sobrelq-shape-10@2x.png" class="bp4-shape10" />
                <img alt="Image" src="./../../../assets/img/contato-shape-11@2x.png" class="bp4-shape11" />
                <img alt="Image" src="./../../../assets/img/precotablet-path-1@2x.png" class="bp4-path1" />
                <img alt="Image" src="./../../../assets/img/sobrelq-path-5@2x.png" class="bp4-path21" />
                <img alt="Image" src="./../../../assets/img/cadastrolq-shape-12@2x.png" class="bp4-shape12" />
                <img alt="Image" src="./../../../assets/img/contatolq-shape-13@2x.png" class="bp4-shape13" />
                <img alt="Image" src="./../../../assets/img/homelq-shape-15@2x.png" class="bp4-shape14" />
              </div>
            </a>
          </div>
          <div class="bp4-buttonsheaderto">
            <style>
              .bp4-homelq .bp4-headerlq .bp4-headergroup .bp4-stackedlogoto .bp4-buttonsheaderto .bp4-headerbuttons-UO5K * {
                box-sizing: border-box;
              }

              .bp4-homelq .bp4-headerlq .bp4-headergroup .bp4-stackedlogoto .bp4-buttonsheaderto .bp4-headerbuttons-UO5K {
                background-color: rgba(255, 255, 255, 0.0);
                position: relative;
                height: 50px;
                margin: 0;
                width: 293px;
                overflow: hidden;
                transform: rotate(0deg);
              }

              .bp4-homelq .bp4-headerlq .bp4-headergroup .bp4-stackedlogoto .bp4-buttonsheaderto .bp4-headerbuttons-UO5K .bp4-background {
                background-color: rgba(255, 255, 255, 0.0);
                top: 0px;
                height: 50px;
                width: 293px;
                position: absolute;
                margin: 0;
                left: 0px;
                transform: rotate(0deg);
              }

              .bp4-homelq .bp4-headerlq .bp4-headergroup .bp4-stackedlogoto .bp4-buttonsheaderto .bp4-headerbuttons-UO5K .bp4-aboutbutton {
                background-color: rgba(255, 255, 255, 0.0);
                right: 245px;
                top: 0px;
                height: 50px;
                width: 48px;
                position: absolute;
                margin: 0;
                left: 0px;
                transform: rotate(0deg);
                transition: all 0.2s ease-in-out;
              }

              .bp4-homelq .bp4-headerlq .bp4-headergroup .bp4-stackedlogoto .bp4-buttonsheaderto .bp4-headerbuttons-UO5K .bp4-aboutbutton .bp4-aboutbutton1 {
                background-color: rgba(255, 255, 255, 0.0);
                top: calc(50.00% - 20px);
                height: 39px;
                width: 50px;
                position: relative;
                margin: 0;
                left: calc(50.00% - 25px);
                transform: rotate(0deg);
              }

              .bp4-homelq .bp4-headerlq .bp4-headergroup .bp4-stackedlogoto .bp4-buttonsheaderto .bp4-headerbuttons-UO5K .bp4-aboutbutton .bp4-aboutbutton1 .bp4-background1 {
                background-color: rgba(255, 255, 255, 0.0);
                top: 0px;
                height: 100%;
                width: calc(100.00% - 1px);
                position: absolute;
                margin: 0;
                left: 0px;
                transform: rotate(0deg);
              }

              .bp4-homelq .bp4-headerlq .bp4-headergroup .bp4-stackedlogoto .bp4-buttonsheaderto .bp4-headerbuttons-UO5K .bp4-aboutbutton .bp4-aboutbutton1 .bp4-sobre {
                background-color: rgba(255, 255, 255, 0.0);
                bottom: 0px;
                height: 19px;
                width: 100.00%;
                position: absolute;
                margin: 0;
                left: 11.00%;
                transform: rotate(0deg);
                font-family: "Open Sans", Helvetica, Arial, serif;
                font-weight: 600;
                font-style: normal;
                font-size: 14.0px;
                color: rgba(138, 140, 142, 1.0);
                text-align: center;
                line-height: 19.0px;
              }

              .bp4-homelq .bp4-headerlq .bp4-headergroup .bp4-stackedlogoto .bp4-buttonsheaderto .bp4-headerbuttons-UO5K .bp4-pricesbutton {
                background-color: rgba(255, 255, 255, 0.0);
                right: 128px;
                top: 0px;
                height: 50px;
                width: 59px;
                position: absolute;
                margin: 0;
                left: 106px;
                transform: rotate(0deg);
                transition: all 0.2s ease-in-out;
              }

              .bp4-homelq .bp4-headerlq .bp4-headergroup .bp4-stackedlogoto .bp4-buttonsheaderto .bp4-headerbuttons-UO5K .bp4-pricesbutton .bp4-pricesbutton1 {
                background-color: rgba(255, 255, 255, 0.0);
                top: calc(50.00% - 20px);
                height: 39px;
                width: 55px;
                position: relative;
                margin: 0;
                left: calc(50.00% - 28px);
                transform: rotate(0deg);
              }

              .bp4-homelq .bp4-headerlq .bp4-headergroup .bp4-stackedlogoto .bp4-buttonsheaderto .bp4-headerbuttons-UO5K .bp4-pricesbutton .bp4-pricesbutton1 .bp4-background1 {
                background-color: rgba(255, 255, 255, 0.0);
                top: 0px;
                height: 100%;
                width: 100%;
                position: absolute;
                margin: 0;
                left: 0px;
                transform: rotate(0deg);
              }

              .bp4-homelq .bp4-headerlq .bp4-headergroup .bp4-stackedlogoto .bp4-buttonsheaderto .bp4-headerbuttons-UO5K .bp4-pricesbutton .bp4-pricesbutton1 .bp4-pre347os {
                background-color: rgba(255, 255, 255, 0.0);
                bottom: 0px;
                height: 19px;
                width: 100.00%;
                position: absolute;
                margin: 0;
                left: 9.09%;
                transform: rotate(0deg);
                font-family: "Open Sans", Helvetica, Arial, serif;
                font-weight: 600;
                font-style: normal;
                font-size: 14.0px;
                color: rgba(138, 140, 142, 1.0);
                text-align: center;
                line-height: 19.0px;
              }

              .bp4-homelq .bp4-headerlq .bp4-headergroup .bp4-stackedlogoto .bp4-buttonsheaderto .bp4-headerbuttons-UO5K .bp4-contactbutton {
                background-color: rgba(255, 255, 255, 0.0);
                right: 0px;
                top: 0px;
                height: 50px;
                width: 70px;
                position: absolute;
                margin: 0;
                left: 223px;
                transform: rotate(0deg);
              }

              .bp4-homelq .bp4-headerlq .bp4-headergroup .bp4-stackedlogoto .bp4-buttonsheaderto .bp4-headerbuttons-UO5K .bp4-contactbutton .bp4-contactbutton1 {
                background-color: rgba(255, 255, 255, 0.0);
                top: calc(50.00% - 20px);
                height: 39px;
                width: 65px;
                position: relative;
                margin: 0;
                left: calc(50.00% - 33px);
                transform: rotate(0deg);
              }

              .bp4-homelq .bp4-headerlq .bp4-headergroup .bp4-stackedlogoto .bp4-buttonsheaderto .bp4-headerbuttons-UO5K .bp4-contactbutton .bp4-contactbutton1 .bp4-background1 {
                background-color: rgba(255, 255, 255, 0.0);
                top: 0px;
                height: 100%;
                width: calc(100.00% - 1px);
                position: absolute;
                margin: 0;
                left: 0px;
                transform: rotate(0deg);
              }

              .bp4-homelq .bp4-headerlq .bp4-headergroup .bp4-stackedlogoto .bp4-buttonsheaderto .bp4-headerbuttons-UO5K .bp4-contactbutton .bp4-contactbutton1 .bp4-contato {
                background-color: rgba(255, 255, 255, 0.0);
                bottom: 0px;
                height: 19px;
                width: 100.00%;
                position: absolute;
                margin: 0;
                left: 8.46%;
                transform: rotate(0deg);
                font-family: "Open Sans", Helvetica, Arial, serif;
                font-weight: 600;
                font-style: normal;
                font-size: 14.0px;
                color: rgba(138, 140, 142, 1.0);
                text-align: center;
                line-height: 19.0px;
              }

              .bp4-homelq .bp4-headerlq .bp4-headergroup .bp4-stackedlogoto .bp4-buttonsheaderto .bp4-headerbuttons-UO5K .bp4-rectangle {
                background-color: rgba(116, 191, 187, 1.0);
                top: 8px;
                height: 7px;
                width: 48px;
                position: absolute;
                margin: 0;
                left: 0px;
                border-radius: 3px;
                transform: rotate(0deg);
                opacity: 0.0;
              }

            </style>
            <div id="sZ93qHH">
              <div
                class="bp4-headerbuttons bp4-headerbuttons-UO5K component anima-component-wrapper anima-not-ready anima-word-break state1"
                data-initial-state="state1">
                <div class="bp4-background">
                </div>
                <div class="bp4-aboutbutton anima-smart-layers-pointers ">
                  <a routerLink="/sobre">
                    <div class="bp4-aboutbutton1">
                      <div class="bp4-background1">
                      </div>
                      <div class="bp4-sobre">
                        Sobre
                      </div>
                    </div>
                  </a>
                </div>
                <div class="bp4-pricesbutton anima-smart-layers-pointers ">
                  <a routerLink="/precos">
                    <div class="bp4-pricesbutton1">
                      <div class="bp4-background1">
                      </div>
                      <div class="bp4-pre347os">
                        Preços
                      </div>
                    </div>
                  </a>
                </div>
                <div class="bp4-contactbutton">
                  <a routerLink="/contato">
                    <div class="bp4-contactbutton1">
                      <div class="bp4-background1">
                      </div>
                      <div class="bp4-contato">
                        Contato
                      </div>
                    </div>
                  </a>
                </div>
                <div class="bp4-rectangle anima-hidden ">
                </div>
              </div>
            </div>

            <div class="bp4-stackedgroup1">
              <div class="bp4-shopgroup anima-smart-layers-pointers ">
                <div class="bp4-shop2" id="shopBtn">
                  <img alt="Image" src="./../../../assets/img/homemobile-shape-1@2x.png" class="bp4-shape15" />
                  <img alt="Image" src="./../../../assets/img/conteudo-shape-23@2x.png" class="bp4-shape16" />
                </div>
              </div>

              <div class="bp4-profileicon anima-smart-layers-pointers ">
                <img alt="Image" src="./../../../assets/img/programa-shape-24@2x.png" class="bp4-shape" />
                <img alt="Image" src="./../../../assets/img/avisualtablet-shape-6@2x.png" class="bp4-shape1" />
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
