<app-implement-bg></app-implement-bg>
<app-adm-bar></app-adm-bar>
<mat-tab-group mat-align-tabs="center">

  <mat-tab label="Adicionar Serviços">
    <div class="container">
      <!-- <app-criador-id></app-criador-id> -->
    </div>
  </mat-tab>
  <mat-tab label="Perfil">
    <div class="container">
      <!-- <app-addservico></app-addservico> -->
    </div>
  </mat-tab>
  <mat-tab label="Serviços">
    <div class="container">
      <app-page-serv></app-page-serv>
    </div>
  </mat-tab>
</mat-tab-group>
